@import "partials/abstract/variables";
@import "partials/abstract/mixins";

section {
  color: rgba($color: $blue-300, $alpha: 0.7) !important;
  padding: 2rem 0;
  h4 {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 6rem;
  }
  .service {
    background: linear-gradient(180deg, rgba(63, 188, 234, 0.1) 45.16%, rgba(63, 188, 234, 0) 100%);
    min-height: 100vh;
    display: flex;
    h4 {
      text-align: center;
      font-style: normal;
      font-weight: 500;
      font-size: 3.2rem;
      line-height: 6rem;
      padding: 1.2rem 1rem;
    }
    .construction {
      background: url('../../../../assets/images/construction.jpg') no-repeat center center;
      background-size: cover;
      box-shadow: inset 0 0 0 2000px rgba($color: $white-100, $alpha: 0.8);
      height: 100vh;
      .row {
        padding: 1.25rem 1rem;
        min-height: 13rem;
        background-color: rgba($color: #3FBCEA, $alpha: 0.25);
        .product {
          img {
            object-fit: fill;
            height: 13rem;
            width: 100%;
          }
        }
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 3.2rem;
          line-height: 6rem;
        }
      }
    }
    .manfacturing {
      .row {
        padding: 1.25rem 1rem;
        .product {
          img {
            object-fit: fill;
            height: 13rem;
            width: 100%;
          }
        }
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 3.2rem;
          line-height: 6rem;
          padding-left: 1.5rem;
        }
      }
      .first {
        background-color: rgba($color: #3FBCEA, $alpha: 0.05);
      }
      .second {
        background-color: rgba($color: #3FBCEA, $alpha: 0.1);
      }
      .third {
        background-color: rgba($color: #3FBCEA, $alpha: 0.15);
      }
      .fourth {
        background-color: rgba($color: #3FBCEA, $alpha: 0.2);
      }
      .fifth {
        background-color: rgba($color: #3FBCEA, $alpha: 0.25);
      }
    }
  }
}

@include maxSize($canvas: M) {
  section {
    h4 {
      font-size: 2.2rem;
    }
    .service {
      min-height: 60vh;
      h4 {
        font-size: 2.2rem;
      }
      .construction {
        .row {
          padding: 1.25rem 1rem;
          min-height: 7rem;
          background-color: rgba($color: #3FBCEA, $alpha: 0.25);
          .product {
            img {
              object-fit: fill;
              height: 7rem;
              width: 100%;
            }
          }
          p {
            font-style: normal;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 6rem;
          }
        }
      }
     .manfacturing {
       .row {
         padding: 1.25rem 1rem;
         .product {
           img {
             object-fit: fill;
             height: 7rem;
             width: 100%;
           }
         }
         p {
           font-style: normal;
           font-weight: 400;
           font-size: 1.8rem;
           line-height: 6rem;
           padding-left: 1.2rem;
         }
       }
     }
    }
   }
}
