<section>
  <div class="container">
    <div class="d-flex justify-content-between">
      <h2 class="order-sm-2">Simple Steps for <br> <span>Handyhub Customers</span></h2>
      <img class="order-sm-1 thumb" src="assets/images/Handy thumbs up 1.svg" alt="">
    </div>
    <div class="row d-flex justify-content-between">
      <div class="col-lg-5 col-md-7">
        <div class="my-4 row">
          <div class="icon col-3">
            <span class="mt-3">
                <img src="assets/images/download.svg" alt="">
            </span>
          </div>
          <div class="col-9">
            <h3>Download</h3>
            <p>
              Download the Handyhub app on Google playstore and Apple store
            </p>
          </div>
        </div>
        <div class="my-5 row">
          <div class="icon col-3">
           <span class="mt-4">
            <img src="assets/images/search.svg" alt="">
           </span>
          </div>
          <div class="col-9">
            <h3>Search for service</h3>
            <p>
              Check for a service & get connected immediately with a qualified service provider close to you.
            </p>
          </div>
        </div>
        <div class="my-5 row">
          <div class="icon col-3">
           <span class="mt-4">
            <img src="assets/images/register.svg" alt="">
           </span>
          </div>
          <div class="col-9">
            <h3>Register on the Handyhub app</h3>
            <p>
              Sign up by registering all required data and details requested for on the Handyhub app
            </p>
          </div>
        </div>
        <div class="my-5 row">
          <div class="icon col-3">
           <span class="mt-4">
            <img src="assets/images/rate.svg" alt="">
           </span>
          </div>
          <div class="col-9">
            <h3>Make a request</h3>
            <p>
              Read through the vendor description carefully before making a request
            </p>
          </div>
        </div>
        <div class="my-5 row">
          <div class="icon col-3">
           <span class="mt-4">
            <img src="assets/images/request.svg" alt="">
           </span>
          </div>
          <div class="col-9">
            <h3>Rate and review </h3>
            <p>
              Give a genuine review of your satisfaction with the service offered by the service provider
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <img class="phone" src="assets/images/steps.svg" alt="">
      </div>
    </div>
  </div>
</section>
