@import "../abstract/variables";

.btn {
  font-weight: 600;

  border-radius: 0.8rem;
  font-size: 1.4rem !important;
  text-align: center;
  justify-content: center;
}
.btn-green {
  background-color: $green-600 !important;
  box-shadow: 0rem 0.8rem 1.6rem -0.5rem rgba(0, 29, 31, 0.1);
  color: #fff !important;
  display: flex;
  align-items: center;
  line-height: 0;
  transition: all ease 0.3s;
  &:hover {
    color: #fff;
    background-color: $green-700;
  }
}
.btn-outline-green {
  border: 0.15rem solid $green-600;
  background-color: transparent;
  color: $green-600;
  transition: all ease 0.3s;
  &:hover {
    color: $green-700;
    background-color: transparent;
  }
}

.btn-outline-grey {
  border: 0.15rem solid $grey-500;
  background-color: transparent;
  color: $green-600;
  transition: all ease 0.3s;
  display: flex;
  align-items: center;
  &:hover {
    color: $green-700;
    border: 0.15rem solid $grey-400;
    background-color: transparent;
  }
}

.btn-lg {
  min-height: 4.8rem;
  padding: 1rem 2rem;
}

.btn-md {
  min-height: 3.8rem;
  min-width: 8rem;
}

.btn-sm {
  min-height: 3rem;
  border-radius: 0.4rem;
}

.badge {
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 7.5rem;
  border-radius: 0.5rem;
  &-error {
    background: rgba($error, 0.1);
    color: $error;
    border: 0.1rem solid $error;
  }
  &-success {
    background: rgba($success, 0.1);
    color: $success;
    border: 0.1rem solid $success;
  }
}
// &-error {
//   background: rgba($error, 0.1);
//   color: $error;
//   border: 0.1rem solid $error;
// }
// &-success {
//   background: rgba($success, 0.1);
//   color: $success;
//   border: 0.1rem solid $success;
// }
