<nav>
  <span>
    <embed src="assets/images/docstream_logo.svg" alt="docstream_logo" />
  </span>
  <span class="mx-3 line">|</span>
  <span>
    <img src="assets/images/fidelity.svg" alt="fidelity_logo" />
  </span>
</nav>
<div class="gif">
  <div class="wrapper">
    <img src="assets/gifs/not_found.gif" alt="" />
    <p class="">Oops...!!! the page you are looking for cannot be found.</p>
    <div class="d-flex justify-content-center" (click)="goHome()">
      <button class="btn btn-green btn-lg">
        <div class="text">Go Home</div>
      </button>
    </div>
  </div>
</div>
