<div class="d-flex justify-content-between" mat-dialog-title>
  <h2 mat-dialog-title> </h2>
  <div class="click" mat-dialog-close>
    <img src="assets/icons/x.svg" alt="" />
  </div>
</div>
<mat-dialog-content class="mat-typography text-center">
  <h1 class="modal-title py-4">Verification Link Sent </h1>
  <app-error [error_message]="error_message"></app-error>
  <p>Hey Champ, we’ve sent a verification link to your email 
    <span class="text-primary">{{ modalData?.email }}</span>,
    kindly click the link to complete your registration.
  </p>
  <h3 class="timer py-4" *ngIf="counter > 0">{{ counter | formatTime }}</h3>
  <p 
    class="timer click py-4" 
    *ngIf="counter <= 0"
    (click)="submit()"
  >  
    Resend Link
    <i *ngIf="sending" class="fa fa-spin fa-spinner"></i>
 </p>
  <!-- <button
    *ngIf="counter <= 0"
    class="btn timer" 
    (click)="submit()"
  >
    <app-loading-button
        [text]="'Resend Link'"
        [condition]="sending"
    ></app-loading-button>
  </button> -->
</mat-dialog-content>
