@import "partials/abstract/variables";
@import "partials/abstract/mixins";

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
  @include maxSize($canvas: M) {
    display: block;
  }
  h4 {
    font-family: $walsheim_font_bold;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: $text-body;
    text-transform: capitalize;
  }
}

.filter {
  display: flex;
  align-items: center;
  margin-left: auto !important;
  background: $purple-100;
  border-radius: 0.8rem;
  padding: 0.8rem 1.6rem;
  img {
    margin-left: 1.6rem;
    transition: all ease-in-out 0.3s;
  }
  p {
    font-family: $walsheim_font_bold !important;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: right;
    color: $text-body;
  }
}

.dropdown_item {
  h4 {
    font-family: $walsheim_font !important;
  }
}
