
<section>
  <app-navbar
    (btnAction)="moveToStructure()"
  ></app-navbar>
  <ng-container>
    <div class="banner">
      <div class="row my-auto d-flex justify-content-center">
        <div class="col-10 col-md-8 col-lg-8">
          <h2>Retaining Best Hands in Challenging Times: People Manager’s Perspective</h2>
          <h4>22 August, 2024. | Westwood Hotel, Ikoyi, Lagos.</h4>
          <div class="d-flex justify-content-center">
            <button class="btn btn-green btn-lg" (click)="moveToStructure()">
              Register Now
            </button>
          </div>
          <div class="d-flex justify-content-center">
            <div class="circle_wrapper">
              <div class="circle_wrapper-counter circle_wrapper-counter-yellow">
                <span>6</span>
              </div>
              <div class="title">SPEAKER</div>
            </div>
            <div class="circle_wrapper">
              <div class="circle_wrapper-counter circle_wrapper-counter-green">
                <span>4</span>
              </div>
              <div class="title">SESSION</div>
            </div>
            <div class="circle_wrapper">
              <div class="circle_wrapper-counter circle_wrapper-counter-purple">
                <span>8</span>
              </div>
              <div class="title">COUNTRIES</div>
            </div>
            <div class="circle_wrapper">
              <div class="circle_wrapper-counter circle_wrapper-counter-blue">
                <span>3</span>
              </div>
              <div class="title">COLLABORATION</div>
            </div>
            <div class="circle_wrapper">
              <div class="circle_wrapper-counter circle_wrapper-counter-lilac">
                <span>+200</span>
              </div>
              <div class="title">PARTICIPANTS</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container>
    <div class="sponsors">
      <carousel [cellsToShow]="5" [cellsToScroll]="5" [loop]="true" [autoplay]="true" [arrows]="false" [autoplayInterval]="3000">
        <div class="carousel-cell">
          <img src="assets/images/GODP-logo.svg">
        </div>
        <div class="carousel-cell">
            <img src="assets/images/gos-software.jpeg">
        </div>
        <div class="carousel-cell">
          <img src="assets/images/cihrm.jpeg">
        </div>
        <div class="carousel-cell">
          <img src="assets/images/FR.jpeg">
        </div>
        <div class="carousel-cell">
          <img src="assets/images/ERP.jpeg">
        </div>
        <div class="carousel-cell">
          <img src="assets/images/LMS.jpeg">
        </div>
        <div class="carousel-cell">
            <img src="assets/images/HRM.jpeg">
        </div>
      </carousel>
    </div>
  </ng-container>

  <ng-container>
    <div class="about">
      <div class="container">
        <div class="row my-auto d-flex justify-content-center">
          <div class="col-10 col-md-8 col-lg-8">
            <h2>HR Leaders and Executives’ Breakfast Meeting</h2>
          </div>
          <div class="col-10 col-md-6 col-lg-6">
            <p>The HR Executives’ Breakfast Meeting is an open bi-monthly HR Leaders forum organised to Address Contemporary Talent Management Challenges through Discourse, and Experience Sharing.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="speakers_container">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Global Experts in Talent Management, Technology and Leadership
                </h5>
                <p class="card-text" align="justify">
                  Join renowned experts​. Our speakers are industry practitioners with extensive experience leading, running, and managing talents, technology and businesses. Over experts will share their industry insights, best practices, and learnings with you.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3" *ngFor="let speaker of speakers">
            <div class="profile-card" [routerLink]="['speaker', speaker._id]">
              <img [src]="speaker.fileUrl" [alt]="speaker.fullName" style="width:100%">
              <h1>{{ speaker.fullName }}</h1>
              <p class="title">{{ speaker.position + ', ' + speaker.organization }}</p>
              <!-- <p>{{ speaker.institute }}</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sessions">
     <div class="container">
      <div class="title">
        <h2>Sessions</h2>
        <p>Plenary, Technical Sessions and Gala Night</p>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="img_wrapper">
              <img src="https://runningremote.com/wp-content/uploads//2022/09/slack.svg" alt="">
            </div>
            <div class="card-body">
              <h5 class="card-title">
                Session I
              </h5>
              <p class="card-text">
                Keynote speech: Retaining Best Hands in Challenging Times: People Manager’s Perspective
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="img_wrapper">
              <img src="https://runningremote.com/wp-content/uploads//2022/09/slack.svg" alt="">
            </div>
            <div class="card-body">
              <h5 class="card-title">
                Session II
              </h5>
              <p class="card-text">
                Panel Discussion: Practical approach for retaining best hands in Africa.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="img_wrapper">
              <img src="https://runningremote.com/wp-content/uploads//2022/09/slack.svg" alt="">
            </div>
            <div class="card-body">
              <h5 class="card-title">
                Session III
              </h5>
              <p class="card-text">
                Optimising Technology for efficient employee performance
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="img_wrapper">
              <img src="https://runningremote.com/wp-content/uploads//2022/09/slack.svg" alt="">
            </div>
            <div class="card-body">
              <h5 class="card-title">
                Session IV
              </h5>
              <p class="card-text">
                Collaboration and experience sharing
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <button class="btn btn-green btn-lg" (click)="moveToStructure()">
          Register Now
        </button>
      </div>
      <div class="my-5">
        <div class="title text-center">
          <h2>For Sponsorship</h2>
        </div>
        <div class="row">
          <div class="col-md-4 mb-4" *ngFor="let package of packages">
            <div class="card sponsor-card">
              <div class="card-body">
                <h5 class="card-title text-center">
                  <span class="plan">{{ package.sponsorPlan }}</span>
                  <h3 class="cost" [ngClass]="'text-'+package.color">
                    {{ package.cost ? (package.cost | currency:'$') : 'Based on Discussion' }}
                  </h3>
                  <button class="btn btn-lg" [ngClass]="'btn-'+package.color" (click)="openDialog({isEditing: false, editObject: package})">
                    Subscribe
                  </button>
                </h5>
                <ul class="card-text">
                  <li class="row justify-content-between" *ngFor="let feature of package.features">
                    <span class="col-1">
                      <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M19 7.34189C18.6095 6.95136 17.9763 6.95136 17.5858 7.34189L10.3407 14.587C9.95016 14.9775 9.31699 14.9775 8.92647 14.587L6.38507 12.0456C5.99454 11.6551 5.36138 11.6551 4.97085 12.0456C4.58033 12.4361 4.58033 13.0693 4.97085 13.4598L7.51774 16C8.68969 17.1689 10.5869 17.1677 11.7574 15.9974L19 8.7561C19.3905 8.36558 19.3905 7.73241 19 7.34189Z" fill="#43b863"></path> </g></svg>
                    </span>
                    <span class="col-11">{{ feature.label }}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
    </div>

    <div class="major-reason">
      <div class="container">
        <div class="title">
          <h2>Why Attend HRTECH West Africa</h2>
          <p>Leveraging on Business Intelligence for Better Performance</p>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="img_wrapper">
                <img src="https://runningremote.com/wp-content/uploads//2022/09/slack.svg" alt="">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  Networking
                </h5>
                <p class="card-text">
                  One of the greatest benefits of attending a HRTech conference is the networking opportunity with fellow peers. Today, more than ever, it is important to meet and follow up with new connection
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="img_wrapper">
                <img src="https://runningremote.com/wp-content/uploads//2022/09/slack.svg" alt="">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  Hear from the experts
                </h5>
                <p class="card-text">
                  Our speakers are proven business leaders, strategists, practitioners and peers. Many of them are current HR and Tech professionals; others are well-respected industry leaders who know what you need to know.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="img_wrapper">
                <img src="https://runningremote.com/wp-content/uploads//2022/09/slack.svg" alt="">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  Learn skills and stay up-to-date
                </h5>
                <p class="card-text">
                  No matter how long you've been in HR or what position you hold at your company, chances are there is still something you need to learn. Trends, new strategies, and innovations in HR happen all the time; to stay up-to-date you need an educational opportunity that provides you with the full range of HR knowledge.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="img_wrapper">
                <img src="https://runningremote.com/wp-content/uploads//2022/09/slack.svg" alt="">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  Meet with new vendors and suppliers
                </h5>
                <p class="card-text">
                  Our exhibitors are industry experts and solution-providers who truly know what is happening in the world of HR, Technology and business - and they have answers to your questions.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="img_wrapper">
                <img src="https://runningremote.com/wp-content/uploads//2022/09/slack.svg" alt="">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  Have fun with your HR peers from around the world
                </h5>
                <p class="card-text">
                  Let's be honest - the Conference is a lot of learning packed into a short amount of time. But you’ll also have opportunities to relax and get to know your peers.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="img_wrapper">
                <img src="https://runningremote.com/wp-content/uploads//2022/09/slack.svg" alt="">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  Insight from Peers
                </h5>
                <p class="card-text">
                  HRTech swarms with peers that offer thought leadership into the world of Human Resources. This is the ideal situation to find peers you can collaborate with to solve similar problems.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="img_wrapper">
                <img src="https://runningremote.com/wp-content/uploads//2022/09/slack.svg" alt="">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  Sharpen the Saw
                </h5>
                <p class="card-text">
                  The idea is that sometimes you have to take a break from the “work” of your work to sharpen your skills. A dull axe won’t cut a tree nearly as effectively as a sharp one.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="img_wrapper">
                <img src="https://runningremote.com/wp-content/uploads//2022/09/slack.svg" alt="">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  Learn in A New Space
                </h5>
                <p class="card-text">
                  Breaking out of the office, sitting in a new space (even if it’s a tired old Holiday Inn conference room), can spark us to new approaches that will grow our businesses.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="img_wrapper">
                <img src="https://runningremote.com/wp-content/uploads//2022/09/slack.svg" alt="">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  Break Out of Your Comfort Zone
                </h5>
                <p class="card-text">
                  Few of us are born networkers, for many of us, live events and other people can be a challenge. But breaking out of our comfort zones is just the type of action we need to take to break out of old ways of thinking that have got us in a rut in our businesses
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="img_wrapper">
                <img src="https://runningremote.com/wp-content/uploads//2022/09/slack.svg" alt="">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  New Tips & Tactics
                </h5>
                <p class="card-text">
                  Cut through the clutter to receive the best content for you.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="img_wrapper">
                <img src="https://runningremote.com/wp-content/uploads//2022/09/slack.svg" alt="">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  Invest In Yourself
                </h5>
                <p class="card-text">
                  It’s an investment in yourself, your career, and even your company. When you purchase that conference ticket and when you walk up to the registration desk, you’re saying that you’re investing in your own growth.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="venue">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-12 col-lg-10">
            <div class="row card">
              <div class="col-md-5 col-lg-4">
                <div class="card-body">
                  <h5 class="card-title">
                    Venue
                  </h5>
                  <div class="card-text">
                    <p align="justify">
                      Westwood Hotel Ikoyi is a 4-Star hotel located at 22 Awolowo Road, Ikoyi, Lagos. It is situated close to the Lagos Lagoon which offers a beautiful sight for guests. With a belief in cultural diversity, flexibility in service, fun, coupled with professionalism and originality, Westwood Hotel prides itself on unbiased respect for all guests.
                    </p>
                    <p align="justify">
                      Interesting Places to Visit near Westwood Hotel Ikoyi
                      <br> The Lagos Yacht Club
                      <br> Ikoyi Golf Course
                       <br> Ikoyi Club
                    </p>
                    <p align="justify">
                      Westwood Hotel Ikoyi is the perfect destination for business travellers with exquisite and matured tastes in relaxation. Ikoyi Golf Course offers the best relaxation and outdoor activity.
                    </p>
                  </div>
                </div>
              </div>
              <div class="d-none d-md-block col-md-7 col-lg-8" >
                <carousel
                  [cellsToShow]="1"
                  [cellsToScroll]="1"
                  [loop]="true"
                  [images]="images"
                  [height]="500"
                  [autoplay]="true"
                  [arrows]="true"
                  [autoplayInterval]="3000"
                >
                </carousel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div #registration class="registration">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-8">
            <h2 class="text-center">Registration</h2>
            <div>
              <form [formGroup]="registrationForm">
                <div class="row">
                  <div class="col-md-4">
                    <input
                      type="text" id="name"
                      class=""
                      name="name" placeholder=" " formControlName="name"
                      [ngClass]="{
                        'is-invalid':
                          (registrationForm.get('name')!.errors &&
                            registrationForm.get('name')!.touched) ||
                          (registrationForm.get('name')!.errors && regFormSubmitted)
                      }"
                    />
                    <label for="name">Full Name</label>
                  </div>
                  <div class="col-md-4">
                    <input
                      type="email" id="email"
                      name="email" placeholder=" " formControlName="email"
                      [ngClass]="{
                        'is-invalid':
                          (registrationForm.get('email')!.errors &&
                            registrationForm.get('email')!.touched) ||
                          (registrationForm.get('email')!.errors && regFormSubmitted)
                      }"
                    />
                      <label for="email">Email</label>
                  </div>
                  <div class="col-md-4">
                    <input
                      type="tel"
                      id="phone"
                      name="phone" placeholder=" "
                      ng2TelInput
                      formControlName="phone"
                      [ng2TelInputOptions]="telOptions"
                      (keypress)="numericOnly($event)"
                      (hasError)="onError($event)"
                      (intlTelInputObject)="telInputObject($event)"
                      (countryChange)="onCountryChange($event)"
                      [ngClass]="{
                        'is-invalid':
                          (registrationForm.get('phone')!.errors &&
                            registrationForm.get('phone')!.touched) ||
                          (registrationForm.get('phone')!.errors && regFormSubmitted)
                      }"
                    />
                      <label for="phone">Phone Number</label>
                  </div>
                  <div class="col-md-4">
                    <select
                      name="sex" id="sex"
                      formControlName="sex"
                      [ngClass]="{
                        'is-invalid':
                          (registrationForm.get('sex')!.errors &&
                            registrationForm.get('sex')!.touched) ||
                          (registrationForm.get('sex')!.errors && regFormSubmitted)
                      }"
                    >
                      <option value="" disabled>--Select Gender-</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                      <option value="Others">Others</option>
                      <option value="Not say">would rather not say</option>
                    </select>
                      <label for="sex">Gender</label>
                  </div>
                  <div class="col-md-4">
                    <input
                      type="text"
                      id="position" name="position"
                      placeholder=" " formControlName="position"
                      [ngClass]="{
                        'is-invalid':
                          (registrationForm.get('position')!.errors &&
                            registrationForm.get('position')!.touched) ||
                          (registrationForm.get('position')!.errors && regFormSubmitted)
                      }"
                    />
                      <label for="position">Position</label>
                  </div>
                  
                  <div class="col-md-4">
                    <input
                      type="text" id="company"
                      name="company" placeholder=" "
                      formControlName="company"
                      [ngClass]="{
                        'is-invalid':
                          (registrationForm.get('company')!.errors &&
                            registrationForm.get('company')!.touched) ||
                          (registrationForm.get('company')!.errors && regFormSubmitted)
                      }"
                    />
                      <label for="company">Company</label>
                  </div>
                  <div class="col-md-4">
                    <select
                      name="mode" id="mode"
                      formControlName="trainingMode"
                      [attr.disabled]="true"
                    >
                      <option value="online">Online</option>
                      <option value="classroom">Physical</option>
                    </select>
                      <label for="mode">Mode of Training</label>
                  </div>
                  <div class="col-md-4">
                    <input
                      type="text" id="title"
                      name="title" placeholder=""
                      [value]="training?.streams[0]?.duration"
                      [readonly]="true"
                    />
                      <label for="title">Duration</label>
                  </div>
                  <div class="col-md-4">
                    <input
                      type="text" id="fee"
                      name="fee" placeholder=""
                      [value]="training?.streams[0]?.trainingfee"
                      [readonly]="true"
                    />
                      <label for="title">Training Fee</label>
                  </div>
                </div>

                <div class="d-flex justify-content-center mt-3">
                  <button
                    class="btn btn-green btn-lg"
                    (click)="submit()"
                    [disabled]="isLoading || !registrationForm.valid"
                  >
                    <app-loading-button
                      [text]="'Register'"
                      [condition]="isLoading"
                    ></app-loading-button>
                  </button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <app-footer></app-footer>
</section>

