<div class="d-flex justify-content-between" mat-dialog-title>
  <h2 mat-dialog-title>Change Password</h2>
  <div class="click" mat-dialog-close>
    <img src="assets/icons/x.svg" alt="" />
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="changePasswordForm">
    <app-error [error_message]="error_message"></app-error>
    <div class="form_group mb-3">
      <label for="currentPassword" class="form-label"
        >Current Password
        <span>● </span>
      </label>
      <div class="position-relative">
        <input
          class="form-control pr-2"
          [type]="CurrentPassword ? 'text' : 'password'"
          formControlName="CurrentPassword"
          placeholder="Enter current password"
          [ngClass]="{
            'is-invalid':
              (changePasswordForm.get('CurrentPassword')?.errors &&
                changePasswordForm.get('CurrentPassword')?.touched) ||
              (changePasswordForm
                .get('CurrentPassword')
                ?.hasError('required') &&
                passwordFormSubmitted) ||
              (changePasswordForm
                .get('CurrentPassword')
                ?.hasError('CurrentPassword') &&
                passwordFormSubmitted)
          }"
        />
        <i
          class="fa fa-eye-slash click"
          *ngIf="CurrentPassword; else hideCurrentPassword"
          (click)="CurrentPassword = !CurrentPassword"
        ></i>
        <ng-template #hideCurrentPassword>
          <i
            class="fa fa-eye click"
            (click)="CurrentPassword = !CurrentPassword"
          ></i>
        </ng-template>
      </div>
    </div>
    <div class="form_group mb-3">
      <label for="newPassword" class="form-label"
        >New Password
        <span>● </span>
      </label>
      <div class="position-relative">
        <input
          class="form-control pr-2"
          [type]="showPassword ? 'text' : 'password'"
          formControlName="NewPassword"
          placeholder="Enter new password"
          [ngClass]="{
            'is-invalid':
              (changePasswordForm.get('NewPassword')?.errors &&
                changePasswordForm.get('NewPassword')?.touched) ||
              (changePasswordForm.get('NewPassword')?.hasError('required') &&
                passwordFormSubmitted) ||
              (changePasswordForm.get('NewPassword')?.hasError('NewPassword') &&
                passwordFormSubmitted)
          }"
        />
        <i
          class="fa fa-eye-slash click"
          *ngIf="showPassword; else hidePassword"
          (click)="showPassword = !showPassword"
        ></i>
        <ng-template #hidePassword>
          <i class="fa fa-eye click" (click)="showPassword = !showPassword"></i>
        </ng-template>
      </div>
      <div
        class="text-danger"
        *ngIf="
          changePasswordForm.get('NewPassword')?.invalid &&
          changePasswordForm.get('NewPassword')?.value != ''
        "
      >
        <span
          >Password must container at least 8 character with one uppercase, one
          lowercase and one number</span
        >
      </div>
    </div>
    <div class="form_group mb-3">
      <label for="confirmPassword" class="form-label"
        >Re-enter Password
        <span>● </span>
      </label>
      <div class="position-relative">
        <input
          class="form-control pr-2"
          [type]="showConfirmPassword ? 'text' : 'password'"
          formControlName="confirmPassword"
          placeholder="Re-enter new password"
          [ngClass]="{
            'is-invalid':
              changePasswordForm.errors &&
              changePasswordForm.get('confirmPassword')?.touched
          }"
        />
        <i
          class="fa fa-eye-slash click"
          *ngIf="showConfirmPassword; else hideConfirmPassword"
          (click)="showConfirmPassword = !showConfirmPassword"
        ></i>
        <ng-template #hideConfirmPassword>
          <i
            class="fa fa-eye click"
            (click)="showConfirmPassword = !showConfirmPassword"
          ></i>
        </ng-template>
      </div>
      <div
        class="text-danger"
        *ngIf="
          changePasswordForm.get('NewPassword')?.value !==
          changePasswordForm.get('confirmPassword')?.value
        "
      >
        Passwords must match
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    [mat-dialog-close]="true"
    class="btn btn-outline-purple btn-md me-4 px-4 d-none"
    #close
  >
    No, cancel
  </button>
  <button 
    class="btn btn-purple btn-md px-4" 
    [disabled]="isLoading"
    (click)="submit()"
  >
    <app-loading-button
      [text]="'Continue'"
      [condition]="isLoading"
    ></app-loading-button>
  </button>
</mat-dialog-actions>
