@import "partials/abstract/variables";

.upload-document-wrapper {
  position: relative;
  border: 0.1rem dashed rgba($color: $blue-700, $alpha: 0.5);
  border-radius: 0.8rem;
  background: $grey-300;
  .icon-wrapper {
    display: flex;
    justify-content: center;
  }

  input[type="file"] {
    font-size: 10rem;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
}
