@import "partials/abstract/variables";
.card {
  margin-bottom: 2rem;
  border: none;
  padding: 1rem !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: $text-body;
  position: relative;
  background-color: $white-100;
  box-shadow: 0px 0px 8px rgba($black-100, 0.05);
  border-radius: 1.2rem;
  padding: 1.6rem 2.4rem !important;
  h3 {
    font-family: $walsheim_font_bold;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 7.2rem;
  }
  p {
    font-family: $walsheim_font_bold;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: $text-body;
    text-transform: capitalize !important;
    margin-bottom: 1rem;
  }
  .name {
    opacity: 0.5;
  }
  .side-color {
    width: 0.8rem;
    height: 8.3rem;
    position: absolute;
    // top: 20%;
    top: 14%;
    right: 0;
    border-radius: 0.8rem 0 0 0.8rem;
    &.bg-info {
      background-color: $info;
    }

    &.bg-success {
      background-color: $success;
    }

    &.bg-warning {
      background-color: $warning;
    }
  }
}
