<div class="card" *ngIf="!loading">
  <div>
    <p>{{ name }}</p>
    <h3>{{ count }}</h3>
    <p class="name">{{ dayCount }}</p>
  </div>
  <div>
    <img class="px-4 py-3" [src]="img" alt="" />
  </div>
</div>

<div class="card d-flex justify-content-between px-3 py-4" *ngIf="loading">
  <div>
    <p>{{ name }}</p>
    <h3>
      <app-filetra-skeleton-loader
        height="2rem"
        width="5rem"
        background_color="#464e75"
        margin_bottom="0rem"
      ></app-filetra-skeleton-loader>
    </h3>
    <p>{{ dayCount }}</p>
  </div>
  <div>
    <img class="px-4 py-3" [src]="img" alt="" />
  </div>
</div>
