// colors and fonts go here.

// Brand Colours

$purple-100: #f6f4f9;
$blue-300: #1890ff;
$purple-700: #4c11ab;
$blue-700: #182252;
$purple-900: #2a095e;
$green-400: #b3ee54;
$green-600: #00a5ab;
$green-700: #008085;

// Neutrals & Shades
$white-100: #ffffff;
$white-200: #f7f7f7;
$white-300: #fafafa;
$white-700: #f2f2f2;
$text-body: #3a2e4d;
$black-100: #000000;
$black-850: #1f1f1f;
$grey-300: rgba($purple-700, 0.07);
$grey-400: rgba($purple-700, 0.1);
$grey-500: rgba($purple-900, 0.2);

// Alerts
$success: #5fa171;
$warning: #f2b12e;
$error: #d93b2b;
$info: #418ed9;
$tip: #4d4d4d;

//Fonts specified by Emmanuel
$walsheim_font: "GT Walsheim Pro", sans-serif;
$walsheim_font_bold: "GT Walsheim Pro bold", sans-serif;
