// colors and fonts go here.

$purple-100: #f6f4f9;
$blue-300: #1B398F;

// Neutrals & Shades
$white-100: #ffffff;
$white-200: #f7f7f7;
$text-body: #959595;
$black-100: #000000;
$black-200: #1A1A18;
// Alerts
$success: #43b863;
$warning: #ffbe16;
$error: #d93b2b;
$info: #3e73fa;
$primary: #418ED9;
$tip: #4d4d4d;

//Fonts specified by Designer
$walsheim_font: "Ubuntu", sans-serif;
$walsheim_font_bold: "Ubuntu", sans-serif;
