<div class="col-8 mx-auto">
  <div class="search-wrapper">
    <div class="btn-wrapper me-3 dropdown" *ngIf="canSort">
      <button
        class="btn btn-outline-grey px-5 btn-lg dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ currentSort }}
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <label
          for="{{ item }}"
          class="d-flex dropdown-item click"
          *ngFor="let item of sortList"
        >
          <span class="me-3">
            <input
              type="radio"
              name="sort"
              id="{{ item }}"
              value="{{ item }}"
              (change)="selectSort($event)"
            />
          </span>
          <span>
            {{ item }}
          </span>
        </label>
      </div>
    </div>
    <div class="search-wrapper-input me-4" [ngClass]="{ _filter: canFilter }">
      <div class="_icon">
        <span class="_filter" (click)="filterPressed($event)">
          <img src="assets/icons/filter.svg" />
        </span>
        <span class="mx-3 line"></span>
        <span class="_search">
          <img src="assets/icons/search.svg" />
        </span>
      </div>
      <input
        #searchQuery
        type="text"
        class="form-control mt-0"
        (keyup)="getSearchQuery(searchQuery.value, $event)"
        placeholder="Search"
      />
      <span
        class="_clear"
        (click)="getSearchQuery('', { keyCode: '' }, true)"
        *ngIf="searchQuery.value != ''"
      >
        <img src="assets/icons/close.svg" />
      </span>
    </div>

    <div class="btn-wrapper me-3">
      <button class="btn btn-purple btn-lg">
        <span class="text-white me-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            width="1.2em"
            height="1.2em"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
          >
            <g fill="none">
              <path
                d="M21 21l-4.486-4.494M19 10.5a8.5 8.5 0 1 1-17 0a8.5 8.5 0 0 1 17 0z"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
              />
            </g>
          </svg>
        </span>
        <div class="text" (click)="searchPressed()">Search</div>
      </button>
    </div>

    <!-- <div class="btn-wrapper me-3" *ngIf="canFilter">
      <button
        class="btn btn-outline-grey btn-lg px-5"
        (click)="filterPressed()"
      >
        <span class="text-white me-2">
          <img src="assets/icons/filter.svg" />
        </span>
        <div class="text d-inline-block">Filter</div>
      </button>
    </div> -->

    <!-- <div class="btn-wrapper" *ngIf="btnName">
      <button class="btn btn-purple btn-lg" (click)="btnPressed()">
        <span class="text-white">
          <img src="assets/icons/add.svg" />
        </span>
        <div class="text">{{ btnName }}</div>
      </button>
    </div> -->
  </div>
</div>
