<div class="d-flex justify-content-between" mat-dialog-title>
  <h2 mat-dialog-title>Token Form </h2>
  <div class="click" mat-dialog-close>
    <img src="assets/icons/close.svg" alt="" />
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="tokenForm">
      <app-error [error_message]="error_message"></app-error>
      <div class="row">
          <div class="col-12">
              <div class="form-group form_group">
                <label>Token <span class="text-red">●</span></label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Token here..."
                  formControlName="token"
                  (keyup)="checkForKeyEnter($event)"
                  [ngClass]="{
                    'is-invalid':
                      (tokenForm.get('token')?.errors &&
                        tokenForm.get('token')?.touched) ||
                      (tokenForm.get('token')?.hasError('required') &&
                        tokenFormSubmitted)
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    tokenForm.get('token')?.hasError('required') &&
                    tokenFormSubmitted
                  "
                >
                  Required
                </div>
              </div>
          </div>
      </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    [mat-dialog-close]="false"
    class="btn btn-outline-green btn-md me-4 px-4 d-none"
    #close
  >
    No, cancel
  </button>
  <button
    class="btn btn-green btn-md px-4"
    [disabled]="isLoading || !tokenForm.valid"
    (click)="submit()"
  >
    <app-loading-button
      [text]="'Submit' "
      [condition]="isLoading"
    ></app-loading-button>
  </button>

</mat-dialog-actions>
