@import "partials/abstract/variables";
@import "partials/abstract/mixins";
@import "partials/components/forms";

$side_padding: 12.4rem 6rem 12.4rem 9.2rem;
$mobile_side_padding: 3rem;

.wrapper {
  height: 100%;
  max-width: 68.4rem;
  width: 100%;
  @include minSize($canvas: L) {
    max-width: 68.4rem;
    width: 68.4rem;
  }
  &__logo {
    margin-bottom: 2.4rem;
    text-align: center;
  }
  &__header {
    h1 {
      font-family: $walsheim_font_bold !important;
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 4.8rem;
      text-align: center;
      margin-bottom: 0.4rem;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2.1rem;
      text-align: center;
      color: $text-body;
      margin-bottom: 3.9rem;
    }
  }
  .position-relative {
    .invalid-feedback,
    .fa {
      position: absolute;
      font-size: 1.5rem;
      top: 1.8rem;
      right: 1.5rem;
    }
  }
  &__sign_in {
    padding-top: 1.4rem;
    a,
    p {
      color: $purple-700;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 1.8rem;
      text-decoration: none;
    }
    span {
      color: $purple-700;
    }
  }
  &__login_btn {
    width: 30%;
    height: 4.5rem !important;
    background: $purple-700;
    box-shadow: 0rem 0.4rem 0.8rem -0.1rem rgba(0, 74, 77, 0.15);
    border-radius: 0.8rem;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white-100;
    padding: 0.35rem 0;
    transition: 0.6s all ease;
    &:hover {
      background: $purple-700;
    }
  }
}

@include maxSize($canvas: M) {
  .wrapper {
    padding: $mobile_side_padding;
    &__login_btn {
      width: 100%;
      margin-top: 1rem;
    }
    &__sign_in {
      padding-top: 1.5rem;
    }
  }
}

.phone-wrapper {
  display: flex;
  &-input {
    position: relative;
    flex-grow: 3;
    .form-control {
      // padding-right: 10.4rem;
      border: 0.1rem solid rgba(76, 17, 171, 0.2) !important;
      border-radius: 0 0.6rem 0.6rem 0 !important;
      border-left: none;
      background: rgba(76, 17, 171, 0.07);
    }
  }
  .btn-wrapper {
    .btn-outline-grey {
      border-radius: 0.6rem 0 0 0.6rem !important;
      border-right: none;
      background: rgba(76, 17, 171, 0.07);
      font-weight: normal;
    }
    img,
    svg {
      transition: all ease-in 0.2s;
    }
    .text {
      transition: all ease-out 0.3s;
      margin-left: 1rem;
    }
    .btn:hover {
      img,
      svg {
        visibility: hidden;
      }
      .text {
        margin-left: 0rem;
      }
    }
    @include maxSize(M) {
      margin-bottom: 1rem;
      margin-top: 1rem;
      .btn:hover {
        img,
        svg {
          visibility: visible;
        }
      }
      .text {
        display: none;
      }
    }
  }
  @include maxSize(M) {
    flex-wrap: wrap;
  }
  .dropdown {
    &-toggle {
      &::after {
        border: none;
        background: url("https://api.iconify.design/dashicons/arrow-down-alt2.svg?color=%2300a5ab");
        background-position-y: 0.3rem;
        height: 1.3rem;
        width: 1.6rem;
        background-repeat: no-repeat;
      }
    }
    &-menu {
      min-width: 100%;
      max-height: 300%;
      top: 1rem !important;
      overflow-y: auto;
      .dropdown-item span {
        color: $text-body !important;
        padding: .78rem 1.5rem;
        border-bottom: solid 0.1rem $grey-300;
        font-size: 1.2rem;
        &:active {
          background: transparent;
          color: $text-body;
        }
      }
      &::after {
        content: "";
        position: absolute;
        top: -1.5rem;
        right: 0.2rem;
        z-index: -1;
        width: 0;
        height: 0;
        border-top: 1.3rem solid transparent;
        border-right: 2.6rem solid white;
        border-bottom: 1.3rem solid transparent;
        transform: rotate(89deg);
      }
    }
  }
}