<form [formGroup]="stepOneForm">
  <div class="info"><app-info></app-info></div>
  <div class="row">
    <div class="col-12">
      <div class="form_group mb-5">
        <label for="date" class="form-label">Date</label>
        <input
          type="datetime-local"
          id="date"
          class="form-control"
          placeholder="Select Date"
          formControlName="lCApplicationDate"
          [ngClass]="{
            'is-invalid':
              (stepOneForm.get('lCApplicationDate')!.errors &&
                stepOneForm.get('lCApplicationDate')!.touched) ||
              (stepOneForm.get('lCApplicationDate')!.errors &&
                stepOneFormSubmitted)
          }"
          readonly
        />
      </div>
    </div>
    <div class="col-12">
      <div class="form_group mb-5">
        <label for="applicantName" class="form-label">Applicant's Name</label>
        <input
          type="text"
          id="applicantName"
          class="form-control"
          placeholder="Enter Applicant's Name'"
          formControlName="applicantName"
          [ngClass]="{
            'is-invalid':
              (stepOneForm.get('applicantName')!.errors &&
                stepOneForm.get('applicantName')!.touched) ||
              (stepOneForm.get('applicantName')!.errors && stepOneFormSubmitted)
          }"
        />
      </div>
    </div>
    <div class="col-12">
      <div class="form_group mb-5">
        <label for="applicantAddress" class="form-label"
          >Applicant's Address</label
        >
        <input
          type="text"
          id="applicantAddress"
          class="form-control"
          placeholder="Enter Address"
          formControlName="applicantAddress"
          [ngClass]="{
            'is-invalid':
              (stepOneForm.get('applicantAddress')!.errors &&
                stepOneForm.get('applicantAddress')!.touched) ||
              (stepOneForm.get('applicantAddress')!.errors &&
                stepOneFormSubmitted)
          }"
        />
      </div>
    </div>
    <div class="col-7">
      <div class="form_group mb-5">
        <label for="benName" class="form-label">Beneficiary’s Name</label>
        <input
          type="text"
          id="benName"
          class="form-control"
          placeholder="Enter Beneficiary Name"
          formControlName="beneficiaryName"
          [ngClass]="{
            'is-invalid':
              (stepOneForm.get('beneficiaryName')!.errors &&
                stepOneForm.get('beneficiaryName')!.touched) ||
              (stepOneForm.get('beneficiaryName')!.errors &&
                stepOneFormSubmitted)
          }"
        />
      </div>
    </div>
    <div class="col-5">
      <div class="form_group mb-5">
        <label for="benTel" class="form-label">Beneficiary’s Tel</label>
        <input
          type="tel"
          id="benTel"
          class="form-control"
          placeholder="0**********"
          formControlName="beneficiaryPhoneNumber"
          [ngClass]="{
            'is-invalid':
              (stepOneForm.get('beneficiaryPhoneNumber')!.errors &&
                stepOneForm.get('beneficiaryPhoneNumber')!.touched) ||
              (stepOneForm.get('beneficiaryPhoneNumber')!.errors &&
                stepOneFormSubmitted)
          }"
        />
        <div
          class="invalid-feedback mt-0 p-0"
          *ngIf="
            (stepOneForm.get('beneficiaryPhoneNumber')!.touched &&
              stepOneForm.get('beneficiaryPhoneNumber')!.hasError('pattern')) ||
            (stepOneForm.get('beneficiaryPhoneNumber')!.hasError('pattern') &&
              stepOneFormSubmitted)
          "
        >
          Please enter a valid phone number
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form_group mb-5">
        <label for="benAddress" class="form-label">Beneficiary's Address</label>
        <input
          type="text"
          id="benAddress"
          class="form-control"
          placeholder="Enter Address"
          formControlName="beneficiaryAddress"
          [ngClass]="{
            'is-invalid':
              (stepOneForm.get('beneficiaryAddress')!.errors &&
                stepOneForm.get('beneficiaryAddress')!.touched) ||
              (stepOneForm.get('beneficiaryAddress')!.errors &&
                stepOneFormSubmitted)
          }"
        />
      </div>
    </div>
    <div class="col-12">
      <div class="form_group mb-5">
        <label for="lastName" class="form-label">LC Type</label>
        <div class="">
          <ng-select
            [items]="types"
            class=""
            [selectOnTab]="true"
            appendTo="body"
            [loading]="isFetchingTypes"
            [virtualScroll]="true"
            bindValue="id"
            bindLabel="type"
            placeholder="Select LC Type"
            formControlName="type"
            (blur)="stepOneForm.get('type')!.value"
            [ngClass]="{
              'is-invalid':
                (stepOneForm.get('type')!.errors &&
                  stepOneForm.get('type')!.touched) ||
                (stepOneForm.get('type')!.errors && stepOneFormSubmitted)
            }"
          >
          </ng-select>
          <div
            class="invalid-feedback"
            *ngIf="stepOneForm.get('type')!.errors && stepOneFormSubmitted"
          >
            Required
          </div>
        </div>

        <!-- <div
          class="p-0 m-0 click d-flex justify-content-end align-items-center"
          (click)="getTypes()"
          *ngIf="isFetchingTypesFailed"
        >
          Retry &nbsp;
          <mat-icon [ngClass]="{ spin: isFetchingTypes }">refresh</mat-icon>
        </div> -->
      </div>
    </div>

    <div class="form_section">
      <p>Payment Types</p>
      <div class="line"></div>
    </div>

    <div class="col-lg-5">
      <div class="form_group mb-5">
        <label for="Ussance" class="form-label">Usance</label>
        <input
          type="number"
          id="Enter Ussance"
          class="form-control"
          placeholder="Enter a Number"
          formControlName="ussance"
          [ngClass]="{
            'is-invalid':
              (stepOneForm.get('ussance')!.errors &&
                stepOneForm.get('ussance')!.touched) ||
              (stepOneForm.get('ussance')!.errors && stepOneFormSubmitted)
          }"
        />
      </div>
    </div>
    <div class="col-lg-5">
      <div class="form_group mb-5">
        <label for="crf" class="form-label">CRF/CPT</label>
        <input
          type="text"
          id="crf"
          class="form-control"
          placeholder="Enter SRF/collapseTwo"
          formControlName="cFR"
          [ngClass]="{
            'is-invalid':
              (stepOneForm.get('cFR')!.errors &&
                stepOneForm.get('cFR')!.touched) ||
              (stepOneForm.get('cFR')!.errors && stepOneFormSubmitted)
          }"
        />
      </div>
    </div>
    <div class="col-lg-2 d-flex align-items-center">
      <div class="form_group mb-5">
        <div class="mt-3">
          <label class="check-container">
            <input
              type="checkbox"
              name="permissions"
              id="sight"
              formControlName="sight"
              [ngClass]="{
                'is-invalid':
                  (stepOneForm.get('sight')!.errors &&
                    stepOneForm.get('sight')!.touched) ||
                  (stepOneForm.get('sight')!.errors && stepOneFormSubmitted)
              }"
            />
            <span
              class="checkmark"
              [ngClass]="{
                'is-invalid':
                  (stepOneForm.get('sight')!.errors &&
                    stepOneForm.get('sight')!.touched) ||
                  (stepOneForm.get('sight')!.errors && stepOneFormSubmitted)
              }"
            ></span>
          </label>
        </div>
        <label for="sight" class="click ms-5"> Sight </label>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="form_group">
        <label for="location" class="form-label"
          >Latest Shipment/Airlift Date</label
        >
        <input
          type="text"
          id="location"
          class="form-control"
          placeholder="Enter Location"
          formControlName="location"
          [ngClass]="{
            'is-invalid':
              (stepOneForm.get('location')!.errors &&
                stepOneForm.get('location')!.touched) ||
              (stepOneForm.get('location')!.errors && stepOneFormSubmitted)
          }"
        />
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="btn btn-outline-grey btn-md me-4" (click)="back()">
      Back
    </button>
    <button class="btn btn-green btn-md" (click)="continue()">Continue</button>
  </div>
</form>
