<div class="help-center">
  <div class="d-flex">
    <span (click)="toggleBag()">
      <img src="assets/images/Help-Center.svg" alt="" />
    </span>
  </div>
</div>

<div class="row hc-box" [ngClass]="{ close: !openBag }">
  <div class="col-md-4 d-none d-md-block">
    <img class="call-rep" src="assets/images/call-rep.svg" alt="" />
  </div>
  <div class="col-md-8 info py-3 px-4">
    <div class="py-3">
      <img src="assets/images/phone.svg" alt="" />
      <a href="callto:+234 (0)810 333 7070" class="ps-3"
        >Call us: +234 (0)810 333 7070</a
      >
    </div>
    <hr />
    <div class="py-3">
      <img src="assets/images/mail.svg" alt="" />
      <a href="mailto:support@fidelitybank.com" class="ps-3"
        >Mail us: support@fidelitybank.com</a
      >
    </div>
  </div>
  <div class="position-relative">
    <i class="fas fa-caret-down"></i>
  </div>
</div>
