<div class="help-center">
  <div class="d-flex">
    <span (click)="toggleBag()">
      <img src="assets/images/Help-Center.svg" alt="" />
    </span>
  </div>
</div>

<div class="row hc-box" [ngClass]="{ close: !openBag }">
  <div class="col-12 info">
    <div class="hc-box-container">
      <div class="img_wrapper">
        <img src="assets/images/call.svg" alt="" />
      </div>
      <a href="callto:+234 (0)9037540351" class=""
        >Call us: +234 (0)9037540351</a
      >
    </div>
    <div class="hc-box-container">
      <div class="img_wrapper">
        <img src="assets/images/sms.svg" alt="" />
      </div>
      <a href="mailto:support@filetra.com" class=""
        >Mail us: support@filetra.com</a
      >
    </div>
  </div>
  <div class="position-relative">
    <i class="fas fa-caret-down"></i>
  </div>
</div>
