@import "partials/abstract/variables";
@import "partials/abstract/mixins";

.wrapper {
    &_chat {
        position: relative;
        height: 80vh;
        background: $white-100;
        // border-radius: 0 0.8rem 0.8rem 0;
        &-head {
            box-shadow: 0px 0px 4px rgba(13, 13, 64, 0.2);
            border-bottom: 0.1rem solid rgba($color: $blue-800, $alpha: 0.1);
            padding: 0.8rem 2.2rem;
            display: flex;
            align-items: center;
            h4 {
            margin-left: 1.2rem;
            }
        }
        #chatTemplate {
            max-height: 65vh;
            overflow-y: scroll;
            padding-right: 2rem;
            padding-bottom: 3rem;
            padding: 0.8rem 2.2rem;
            margin-bottom: 5rem;
            &::-webkit-scrollbar {
                display: none;
            }
            .formLiner {
                display: grid;
                grid-template-columns: 1fr 0.3fr 1fr;
                text-align: center;
                span {
                  font-weight: 500;
                  font-size: 1.2rem;
                  color: $grey;
                }
              }
            .recipient-message,
            .sender-message {
                max-width: 65%;
                padding: 1.5rem 2rem;
                font-size: 1.25rem;
                border-bottom-left-radius: 0.85rem;
                border-bottom-right-radius: 0.85rem;
                margin-top: 1.5rem;
                margin-bottom: 4.5rem;
                position: relative;
                .time, .error {
                    position: absolute;
                    bottom: -2rem;
                    right: 0;
                    color: $text-body;
                }
                .doc_wrapper {
                    display: flex;
                    .file-icon {
                        width: 10%;
                        margin-right: 1rem;
                    }
                    .file-name {
                        font-size: 1.25rem;
                        margin-bottom: 0;
                    }
                    .file-size {
                        font-size: 1.35rem;
                    }
                }
            }
            .img-wrapper {
                width: 4.3rem;
                height: 4.3rem;
                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }
            .recipient-message {
                background: $grey-300;
                color: $text-body;
                border-top-right-radius: 0.85rem;
                margin-right: auto;
            }
            .sender-message {
                background: $purple-700;
                color: $purple-100;
                border-top-left-radius: 0.85rem;
                margin-left: auto;
            }
        }
        .footer_wrapper {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: $white-100;
            box-shadow: 0px 0px 4px rgba(13, 13, 64, 0.1);
            border-top: 0.1rem solid rgba($color: $blue-800, $alpha: 0.1);
            padding: 4rem 3.2rem;
            // display: flex;
            align-items: center;
            .docs_wrapper {
                display: grid;
                grid-gap: 10px;
                grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
                &-item {
                    flex-basis: 100%;
                    margin-bottom: 1rem;
                }
            }
            &-input {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                bottom: 1rem;
                width: 90%;
                margin: 0 auto;
                input {
                border: 0.06rem solid rgba(76, 17, 171, 0.2);
                //   background-color: $white-100;
                background: $purple-100;
                    &::placeholder {
                        color: rgba($purple-900, 0.7);
                        font-style: italic;
                    }
                }
                .btn-attachment {
                    position: relative;
                    cursor: pointer;
                    right: 3rem;
                    input[type="file"] {
                      font-size: 10rem;
                      width: 100%;
                      position: absolute;
                      left: 0;
                      top: 0;
                      opacity: 0;
                      cursor: pointer;
                    }
                  }
                .btn {
                    margin-left: 0.8rem;
                    span {
                        color: $text-body
                    }
                }
            }
        }
        
    }
}
