<div class="wrapper">
  <div class="wrapper_chat">
    <div class="wrapper_chat-head">
      <div class="wrapper_chat-head_avatar">
        <img src="assets/icons/person.svg" alt="Avatar" />
      </div>
      <h4>{{ user?.unique_name }}</h4>
    </div>

    <div id="chatTemplate" #scrollMe>
      <div *ngFor="let data of filteredMessages">
        <div class="formLiner my-3">
          <hr />
          <span>
            {{
              isYesterday(data.date) == "Today" ||
              isYesterday(data.date) == "Yesterday"
                ? isYesterday(data.date)
                : (data.date | date : "EEE, dd MMM. YYYY")
            }}
          </span>
          <hr />
        </div>
        <div *ngFor="let message of data.messages; index as i">
          <div class="d-flex" *ngIf="message.type == 1">
            <div class="img-wrapper me-3">
              <img
                [src]="
                  message.sender?.photo
                    ? message.sender?.photo
                    : 'assets/images/chat-profile.svg'
                "
                alt=""
              />
            </div>
            <div class="w-100">
              <div
                class=""
                *ngIf="message.fileSubmissionResponseAttachments.length > 0"
              >
                <div
                  class="recipient-message click"
                  (click)="
                    getFileIndex(
                      message.fileSubmissionResponseAttachments,
                      file
                    )
                  "
                  *ngFor="let file of message.fileSubmissionResponseAttachments"
                >
                  <div class="doc_wrapper">
                    <img
                      [src]="getFileType(file.fileName)"
                      alt=""
                      class="file-icon"
                    />
                    <h3>
                      <span class="file-name"> {{ file.fileName }}</span>
                      <p class="file-size"></p>
                    </h3>
                  </div>
                  <span class="time">{{
                    message.dateSent | date : "shortTime"
                  }}</span>
                </div>
              </div>
              <p class="recipient-message" *ngIf="message.message">
                {{ message.message }}
                <span class="time">{{
                  message.dateSent | date : "shortTime"
                }}</span>
              </p>
            </div>
          </div>
          <div class="d-flex" *ngIf="message.type == 2">
            <div class="w-100">
              <div
                class=""
                *ngIf="message.fileSubmissionResponseAttachments.length > 0"
              >
                <div
                  class="sender-message click"
                  (click)="
                    getFileIndex(
                      message.fileSubmissionResponseAttachments,
                      file
                    )
                  "
                  *ngFor="let file of message.fileSubmissionResponseAttachments"
                >
                  <div class="doc_wrapper">
                    <img
                      [src]="getFileType(file.fileName)"
                      alt=""
                      class="file-icon"
                    />
                    <h3>
                      <span class="file-name"> {{ file.fileName }}</span>
                      <p class="file-size"></p>
                    </h3>
                  </div>
                  <span class="time">{{
                    message.dateSent | date : "shortTime"
                  }}</span>
                </div>
              </div>
              <p class="sender-message" *ngIf="message.message">
                {{ message.message }}
                <span class="time">{{
                  message.dateSent | date : "shortTime"
                }}</span>
              </p>
            </div>
            <div class="img-wrapper ms-3">
              <img
                [src]="
                  message.sender?.photo
                    ? message.sender?.photo
                    : 'assets/images/chat-profile.svg'
                "
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <app-no-data
        name="Chat"
        [showActionButton]="false"
        *ngIf="filteredMessages.length == 0"
      ></app-no-data>
    </div>

    <div class="footer_wrapper">
      <div class="docs_wrapper" *ngIf="files.length > 0">
        <div
          class="docs_wrapper-item"
          *ngFor="let file of files; index as i"
        >
          <app-uploaded-doc
            [file_name]="file.name"
            [type]="file.type"
            [file_size]="file.size"
            (remove)="removeFile(i)"
          ></app-uploaded-doc>
        </div>
      </div>
      <form [formGroup]="chatForm" class="footer_wrapper-input">
        <input
          #messageQuery
          type="text"
          placeholder="Start typing..."
          class="form-control"
          formControlName="Message"
          [ngClass]="{
            'is-invalid':
              (chatForm.get('Message')?.errors &&
                chatForm.get('Message')?.touched) ||
              (chatForm.get('Message')?.hasError('required') && isLoading) ||
              (chatForm.get('Message')?.hasError('Message') && isLoading)
          }"
        />
        <div class="btn-attachment">
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.7502 5.00065V14.584C13.7502 16.4256 12.2585 17.9173 10.4168 17.9173C8.57516 17.9173 7.0835 16.4256 7.0835 14.584V4.16732C7.0835 3.01732 8.01683 2.08398 9.16683 2.08398C10.3168 2.08398 11.2502 3.01732 11.2502 4.16732V12.9173C11.2502 13.3756 10.8793 13.7506 10.4168 13.7506C9.95433 13.7506 9.5835 13.3756 9.5835 12.9173V5.00065H8.3335V12.9173C8.3335 14.0673 9.26683 15.0006 10.4168 15.0006C11.5668 15.0006 12.5002 14.0673 12.5002 12.9173V4.16732C12.5002 2.32565 11.0085 0.833984 9.16683 0.833984C7.32516 0.833984 5.8335 2.32565 5.8335 4.16732V14.584C5.8335 17.1173 7.88766 19.1673 10.4168 19.1673C12.946 19.1673 15.0002 17.1173 15.0002 14.584V5.00065H13.7502Z"
              fill="#575766"
            />
          </svg>
          <input
            type="file"
            name="file-1"
            id="file-1"
            multiple
            (change)="onFileDropped($event)"
          />
        </div>
        <button class="btn btn-outline-purple btn-md" (click)="submit()">
          <svg
            class="pointer"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.4496 2.46719L5.92461 4.96719C0.866276 6.65886 0.866276 9.41722 5.92461 11.1005L8.15794 11.8422L8.89958 14.0755C10.5829 19.1339 13.3496 19.1339 15.0329 14.0755L17.5412 6.55886C18.6579 3.18386 16.8246 1.34219 13.4496 2.46719ZM13.7162 6.95052L10.5496 10.1339C10.4246 10.2589 10.2662 10.3172 10.1079 10.3172C9.94957 10.3172 9.79124 10.2589 9.66624 10.1339C9.42458 9.89222 9.42458 9.49222 9.66624 9.25055L12.8329 6.06719C13.0746 5.82552 13.4746 5.82552 13.7162 6.06719C13.9579 6.30886 13.9579 6.70886 13.7162 6.95052Z"
              fill="#3A2E4D"
            />
          </svg>
          <span class="ms-2">Send</span>
        </button>
      </form>
    </div>
  </div>
</div>
