<div class="wrapper">
  <div class="wrapper_top click">
    <img src="assets/icons/back.svg" alt="" (click)="back()" />
    <span class="px-3">Go Back</span>
  </div>
  <div class="wrapper__logo">
    <embed
      src="assets/images/docstream_logo.svg"
      alt="Docstream Logo"
    />
  </div>
  <div class="wrapper__header">
    <h1>Forgot Password?</h1>
    <p>
      Enter the email associated with your account and we’ll 
      send an email with instructions to reset your password.
    </p>
  </div>
  <div class="wrapper__form">
    <app-error [error_message]="error_message"></app-error>
    <form [formGroup]="forgotPasswordForm">
      <div class="form_group mb-5">
        <label for="email" class="form-label"
          >Email
        </label>
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="Enter email address"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              (forgotPasswordForm.get('email')?.errors &&
              forgotPasswordForm.get('email')?.touched) ||
              (forgotPasswordForm.get('email')?.hasError('required') &&
              forgotPasswordFormSubmitted) ||
              (forgotPasswordForm.get('email')?.hasError('email') && forgotPasswordFormSubmitted)
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="
          forgotPasswordForm.get('email')?.hasError('required') &&
          forgotPasswordFormSubmitted &&
            !forgotPasswordForm.get('email')?.hasError('email') &&
            forgotPasswordFormSubmitted
          "
        >
          Required
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
          forgotPasswordForm.get('email')?.hasError('email') &&
          forgotPasswordFormSubmitted &&
            !forgotPasswordForm.get('email')?.hasError('required') &&
            forgotPasswordFormSubmitted
          "
        >
          Enter a valid email
        </div>
      </div>
      <button class="btn wrapper__login_btn" (click)="submit()">
        <app-loading-button
          [text]="'Submit'"
          [condition]="isLoggingIn"
        ></app-loading-button>
      </button>
    </form>
  </div>
</div>
