@import "partials/abstract/mixins.scss";
@import "partials/abstract/variables.scss";

#webapp {
  $navbarHeight: 5.7rem;
  $sidebarWidth: 23.6rem;
  $mobileSidebarWidth: 6.8rem;
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  main {

    position: relative;
    background: $white-100;
    width: 100%;
    min-height: 100vh;
    @include minSize($canvas: L) {
      //  margin-left: 23.6rem;
      max-width: calc(100%);
      // padding: 1.6rem 6.4rem 6rem;
      &.showMinimized {
        max-width: calc(100%);
          margin-left: 6.8rem;
      }
    }
    -webkit-transition: width 0.25s ease-in-out;
    -o-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;



    .main-content{
      position: relative;
      // padding: 1.6rem;
      // margin-top: $navbarHeight;
      min-height: 100vh;
      max-height: 100vh;
      overflow: auto;
    }
  }
}
