<div class="d-flex justify-content-between" mat-dialog-title>
  <h2 mat-dialog-title>Terms & Conditions</h2>
  <div class="click" mat-dialog-close>
    <img src="assets/icons/x.svg" alt="" />
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <h1 class="header">
    The Credit Is Subject to Uniform Customs and Practice for Documentary
    Credits 2007 Revision, ICC Brochure No. 600
  </h1>
  <ul>
    <li>
      It is understood that any credits opened by you in accordance with our
      request will be subject to Uniform Customs and practice for Documentary
      Credits (2007) Revision International Chamber of Commerce (Publication No
      600).
    </li>
    <li>
      Neither you nor your correspondents or agents are to be in any way
      responsible for the validity, sufficiency or genuineness of any document
      or endorsements thereon which may be dealt with in connection with the
      credits or for the quality, quantity condition or insurance of any of the
      goods, or for discrepancy between the goods and any description of or
      references to the goods in any of the documents or for discrepancy between
      the goods and any delay in transmission or delivery by post telegraph or
      cable of the credit or any other communication sent or received in
      connection therewith or for any detention loss or damage arising from any
      cause whatsoever outside your control of your correspondent.
    </li>
    <li>
      In consideration of your opening the above credit, we hereby undertake to
      provide you with the amount of payments effected thereunder together with
      interest, commission, cost and charges.
    </li>
    <li>
      We undertake to indemnify you and keep you indemnified against all
      liability incurred by you in opening the credit.
    </li>
    <li>
      We undertake that the goods shall be kept insured against all usual risks
      and that if not included in the documents required under the credit, we
      will at your request deposit the insurance documents with you or produce
      them for your inspection at any time and if required arrange for your
      interest to be notified to the insurers and noted upon the policies.
    </li>

    <li>
      We acknowledge that you are to have the full ownership and right of
      possession and disposal of the bills of lading policies/certificates of
      insurance and other documents, and of goods represented thereby or
      mentioned therein, together with the proceeds of sales thereof and claims
      made there under as security for all monies for which we are or may become
      responsible to you under or in respect of the credit, and that you are to
      have full power of sale over said goods without notice to us. We authorize
      you to collect the amount due under insurance and we undertake to take
      such steps as you may require to collect on your behalf or to enable you
      to collect the amount of any such claims.
    </li>

    <li>
      Should we wish to raise any objection or claim in relation to documents
      taken up under this credit. We agree to notify you of the objection or
      claim or of our intention to raise any objection or claim, within seven
      days of our receiving the documents from you or inspecting them at our
      office. In the absence of any such notice or so far any such notice shall
      not extend, you will be entitled to assume that we have accepted the
      document as in order, and we shall precluded from raising any objection or
      claim at a later date.
    </li>
    <li>
      If we shall have requested you or shall request you to collect the value
      of documents taken up by you under this credit, you agree to do so for our
      account and at our risk, and on the basis that all charges and expenses in
      connection therewith will be payable by us. It is further agreed that you
      shall not be responsible for any negligence or default on the part of any
      correspondents or agents who may be employed whether nominated by you or
      by our correspondents or agents, nor for any loss arising from any bill or
      documents, or from any failure or delay in presenting or returning any
      unpaid bill, or from any moratorium or governmental decree or order or
      from any cause whatsoever outside your control or the control or any
      correspondents or agents.
    </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-button
    mat-dialog-close
    class="btn btn-outline-green btn-md me-4"
    #close
  >
    Decline
  </button>
  <button
    mat-button
    cdkFocusInitial
    class="btn btn-green btn-md"
    (click)="accept()"
  >
    Agree & Continue
  </button>
</mat-dialog-actions>
