<section>
  <ng-container>
    <div class="banner">
      <div class="container">
        <div class="content">
           <div class="terms">
            <div class="terms-overlay">
              <div class="container">
               <div class="row d-flex justify-content-start">
                 <div class="col-md-6 myauto">
                    <h2>Terms of Use</h2>
                    <P>
                      Urna purus nullam nulla eget morbi nunc, lobortis commodo duis. Sollicitudin justo, quisque metus pellentesque nulla nunc arcu.
                    </P>
                 </div>
               </div>
              </div>
            </div>

           <div class="content">
            <ul class="terms__list">
              <h2>Privacy Policy</h2>
              <ol class="terms__list--item mb-4">
                <span class="terms__list--item-header">1. INTRODUCTION</span>
                <p class="terms__list--item-text">
                  This Mobile Application and the website
                  <a href="https://gethandyhub.com">www.gethandyhub.com</a>
                  (Hereinafter collectively referred to as the “Application” and in some
                  cases “Platform” or “Service(s)”), is the business initiative of Edikan
                  Stephen Okposin, doing business under the name and style “Handyhub”
                  (Hereinafter referred to as HANDYHUB “Us” “We” “Its” and in some cases
                  “Company”). This service affords any natural or legal person (Herein
                  after referred to as “User(s)” “You” and in some cases “Your”) the
                  opportunity to access various home and general contract services listed
                  on the platform by connecting you with
                  Artisans/Artists/Contractors/Professionals/Technicians, etc. (Service
                  Providers), who upon your request, are ready to take up tasks, projects,
                  requests or needs and provide solutions. You may use other affiliated
                  mobile applications to pay for the services offered by our Providers
                  however, subject to the Terms and Conditions set out herein (“Terms”).
                  Our Privacy Policy governs your visit to the Application and our website
                  www.gethandyhub.com and explains how data is collected from your use of the
                  Application and our services generally. Data supplied by you on this
                  Application is used to improve our Services. By using this Application,
                  you agree to the collection and use of information in accordance with
                  this policy. Unless otherwise defined, the Terms used in this Privacy
                  Policy have the same meanings as our Terms and Conditions.
                </p>
              </ol>
              <ol class="terms__list--item mb-4">
                <span class="terms__list--item-header">
                  2. USER ACCOUNT, PASSWORD AND SECURITY
                </span>
                <p class="terms__list--item-text">
                  Unregistered users may have limited access to the Application. To have
                  full access to Application and other integrated features, you must
                  register with Handyhub and create an account to use the Service. You are
                  the sole authorized user of your account and thus responsible for
                  maintaining the confidentiality of any password and information provided
                  by you for accessing the Application. You are solely and fully
                  responsible for all activities that occur under your password or
                  account. Handyhub has no control over the use of any User's account and
                  expressly disclaims any liability derived therefrom. Should you suspect
                  that any unauthorized person may be using your password or account or
                  you suspect any other breach of security, kindly contact Handyhub Admin
                  immediately through +23480………
                </p>
              </ol>
              <ol class="terms__list--item mb-4">
                <span class="terms__list--item-header">3. TERMS OF USE</span>
                <p class="terms__list--item-text">
                  Our service may contain e-mail systems, blogs, message boards,
                  applications, chat areas, forums for reviews and/or other message or
                  communication facilities that allow you to request for services and
                  communicate with other Users. While using any of the functions whether
                  listed or not, now or in future, you shall not:
                </p>
                <div>
                  <p>
                    a. Upload, post, publish, distribute or disseminate any profane,
                    defamatory, infringing, obscene or unlawful topic, name, material or
                    information.
                  </p>
                  <p>
                    b. Post or upload any content to which you have not obtained any
                    necessary rights or permissions to use accordingly.
                  </p>
                  <p>
                    c. Advertise or offer to sell any goods or services for any commercial
                    purpose through the Service except for approved Market Place
                    Advertisements.
                  </p>
                  <p>
                    d. Impersonate Handyhub or any of its employee, agent,
                    administrator(s), user or any other person, or allow any other person
                    or entity to use your identification to post or view comments.
                  </p>
                  <p>
                    e. Defame, insult, abuse, harass, stalk, threaten or otherwise violate
                    the legal rights of others, including the Administrators, Staff and
                    Agents of Handyhub or her privacy and publicity policy.
                  </p>
                  <p>
                    f. Use the Application for any purpose in violation of local, state,
                    national, or international law.
                  </p>
                  <p>
                    g. Upload files that contain software or other material that violates
                    the intellectual property rights or privacy or publicity rights of any
                    third party.
                  </p>
                  <p>
                    Upload files that contain viruses, corrupted files, or any other
                    similar software that may damage the operation of the service or
                    another's device used in accessing the service.
                  </p>
                  <p>
                    i. Conduct or forward surveys, contests, pyramid schemes, or chain
                    letters.
                  </p>
                  <p>j. Spamming in any guise or form is strictly prohibited.</p>
                  <p>
                    k. Download any file posted by another User that you know, or
                    reasonably should know, cannot be legally distributed through the
                    Service.
                  </p>
                  <p>
                    l. Restrict or inhibit any other User from using and enjoying the
                    service.
                  </p>
                  <p>
                    m. State or imply that any statements you make are endorsed by Handyhub
                    or any of its employee or agent, without her prior written consent.
                  </p>
                  <p>
                    n. Use a robot, spider, manual and/or automatic processes or devices
                    to data-mine, data-crawl, scrape or index the Service in any manner.
                  </p>
                  <p>
                    o. Hack or interfere with the Service, its servers or any connected
                    networks.
                  </p>
                  <p>
                    p. Adapt, alter, license, sublicense or translate the Service for your
                    own personal or commercial use.
                  </p>
                  <p>
                    q. Remove or alter, visually or otherwise, any copyrights, trademarks
                    or proprietary marks and rights owned by Handyhub.
                  </p>
                  <p>
                    r. Upload content that is offensive and/or harmful, including, but not
                    limited to, content that advocates, endorses, condones or promotes
                    racism, bigotry, hatred or physical harm of any kind against any
                    individual or group of individuals.
                  </p>
                  <p>
                    s. Upload content that provides materials or access to materials that
                    exploit people under the age of 18 in an abusive, violent or sexual
                    manner.
                  </p>
                  <p>
                    t. Use the Service to solicit for any other business, website or
                    service, or otherwise contact Users for employment, contracting or any
                    purpose not related to use of the Service as set forth herein.
                  </p>
                  <p>
                    u. Use the Service to collect usernames and or/email addresses of
                    Users by electronic or other means.
                  </p>
                  <p>
                    v. Register under different usernames or identities, after your
                    account has been suspended or terminated.
                  </p>
                </div>
                <p>
                  You understand that all submissions made to Comment and Handyhub Stores
                  will be public and that you will be publicly identified by your name,
                  brand or login identification when communicating in those Areas. Handyhub
                  will not be responsible for the action of any User with respect to any
                  information or materials posted therein.
                </p>
              </ol>
              <ol class="terms__list--item mb-4">
                <span> 4. USE OF MOBILE PHONE </span>
                <p>
                  Handyhub may terminate or suspend your right to use the Applications and
                  other services at any time for any or no reason and such termination or
                  suspension will be effective immediately upon delivery of such message
                  to the e-mail provided by you. Your right to use the Service may be
                  terminated if you breach any term of this Agreement or any policy of
                  Handyhub posted through the Service from time to time. If Handyhub
                  otherwise finds that you have engaged in illegal, inappropriate and/or
                  offensive behaviour. If your right to use the Service is terminated for
                  any of these reasons, you are prohibited from registering and creating a
                  new account under your name, a fake or borrowed name, or the name of any
                  third party, even if you may be acting on behalf of the third party.
                  Where your account is terminated or suspended, Handyhub reserves the
                  right to take appropriate legal action including without limitation, to
                  pursuing civil, criminal actions, obtaining injunctive redress,
                  forfeiture of expected funds or services which you have made payment
                  for, account termination, limiting the access to your Account, removing
                  your User Content, quotes or postings, investigating you, or cooperating
                  with relevant law enforcement agencies such as EFCC to investigate you.
                  This Agreement will remain enforceable against you even after your right
                  to use the Service is terminated or suspended. Any User may terminate
                  this Agreement at any time by ceasing all use of the Service. All
                  sections which by their nature should survive the expiration or
                  termination of this Agreement shall continue in full force
                  notwithstanding the expiration or termination of this Agreement.
                </p>
              </ol>
              <ol class="terms__list--item mb-4">
                <span>
                  6. BOOKINGS, SERVICES REQUEST, SCHEDULE AND RELATIONS WITH SERVICE
                  PROVIDERS
                </span>
                <p>
                  Every service or contract request shall be forwarded to the appropriate
                  Service Provider. The Service Provider shall be provided on availability
                  basis and the same shall be communicated to you through the Handyhub’s
                  internal communication mechanism. If it is certain that the Service
                  Provider is available, your communication details may be shared with the
                  Service Provider for you to give details of your request without
                  interface by Handyhub depending on the nature of the contract or service
                  requested. Where the Service Provider accepts the booking request made
                  by you, Handyhub shall endeavor reasonable efforts to bring you in
                  contact with the Service Provider in order to render the required
                  service(s) subject to availability of the Service Provider in or around
                  your location at the time of your booking or request. Service time
                  quoted at the time of ordering is approximated only, and may vary.
                  Services will be delivered to the address provided by you while
                  ordering. While Handyhub shall take measures to ensure delivery in a
                  timely manner, no responsibility is taken for late service delivery. In
                  case of a late service delivery, no charges will either be voided or
                  refunded by Handyhub by sole reason that the service was not delivered at
                  the time anticipated. All risk in the services entrusted shall pass to
                  the service provider upon availing him/or her all fees and payments
                  needed to execute the task. Handyhub shall only take ample precaution and
                  insurance policies to reduce such risks. If you fail to accept the
                  service at the time they are ready or the service provider is unable to
                  deliver at the nominated time due to your failure to provide appropriate
                  instructions or authorizations, then the service shall be deemed to have
                  been delivered to you and all risk and responsibility in relation to
                  such orders shall pass to you. Any costs which Handyhub incurs as a
                  result your inability or refusal to accept the service, shall be your
                  responsibility and you agree to indemnify Handyhub in full for such cost.
                  You further agree that you will treat the Service provider linked to you
                  through Handyhub with respect and not to assault, insult, annoy or cause
                  damage to them or engage in any unlawful, threatening, and unacceptable
                  behaviour. You understand and accept that it might not be possible for
                  Handyhub or the service providers to offer services to some locations. In
                  such cases, Handyhub shall inform you accordingly and arrange for
                  cancellation of the request/order or find any alternative means to
                  ensure your service request is met.
                </p>
              </ol>
              <ol class="terms__list--item mb-4">
                <span> 7. INFORMATION AND REPRESENTATIONS </span>
                <p>
                  Under this subhead, “Information” is defined as any representation,
                  information and materials you provide to Handyhub or other Users in
                  course of your registration for and use of the Service. You hereby
                  represent and warrant to Handyhub that the Information and
                  representations made on the Application:
                </p>
                <div>
                  <p>
                    a. will not violate any law, statute, ordinance, or regulation
                    (including without limitation those governing consumer protection,
                    unfair competition, anti-discrimination or false advertising);
                  </p>
                  <p>
                    b. will not be defamatory, libellous, unlawfully threatening, or
                    unlawfully harassing;
                  </p>
                  <p>c. Is not false, inaccurate, incomplete or misleading;</p>
                  <p>
                    d. will not create liability for Handyhub or cause it to lose (in whole
                    or in part) the services of its ISPs or any of its affiliates.
                  </p>
                  <p>
                    e. will not be fraudulent or involve the sale of counterfeit or stolen
                    items;
                  </p>
                  <p>
                    f. will not infringe any third party's copyright, patent, trademark,
                    trade secret or other proprietary right or rights of publicity or
                    privacy;
                  </p>
                  <p>
                    g. will not be obscene or pornography of any form or be harmful to
                    minors;
                  </p>
                  <p>
                    h. will not contain any viruses, Trojan Horses, worms, time bombs,
                    cancel bots or other computer programming routines that are intended
                    to damage, detrimentally interfere with, surreptitiously intercept or
                    expropriate any system, data or personal information.
                  </p>
                </div>
                <p>
                  The Application hosts user representations relating to reviews and
                  ratings of specific service providers, market placements,
                  advertisements, etc. Such reviews are opinions and not the opinion of
                  Handyhub and have not been approved by Handyhub as such, Handyhub will not
                  be held liable for any representation projecting any service provider as
                  the right person for a task. While Handyhub will do its best to ensure
                  that best services are provided to meet your specific request and needs,
                  it will not be held liable otherwise than as expressly stated herein.
                </p>
              </ol>
              <ol class="terms__list--item mb-4">
                <span> 8. INTELLECTUAL PROPERTY RIGHTS </span>
                <p>
                  You hereby grant Handyhub a non-exclusive, worldwide, perpetual,
                  irrevocable, royalty-free, sub licensable right to exercise all
                  copyright, publicity rights, and any other rights you exhibit in your
                  information, in any media now known or not currently known in order to
                  perform and improve upon the Service. Every User and Service Provider
                  who obliges Handyhub any videotape, film, record, photograph, voice, or
                  all related instrumental, musical, or other sound effects, in exchange
                  for the right to use the Service, hereby irrevocably grants to the
                  Handyhub the non-exclusive, fully-paid, royalty-free, transferable,
                  sublicensable, worldwide, unrestricted, and perpetual right to use any
                  videotape, film, record or photograph that he or she provides to
                  Handyhub.
                </p>
              </ol>
              <ol class="terms__list--item mb-4">
                <span> 9. LINKS TO OTHER WEBSITES </span>
                <p>
                  Links from the Application to other web sites do not constitute an
                  endorsement or approval by Handyhub of those sites or their content. They
                  are only provided as an information service for reference and
                  convenience only. Handyhub does not control any such sites and is not
                  responsible for their content. The existence of such links on the
                  Service (including without limitation to external websites that may be
                  framed by the Handyhub Service as well as any advertisements displayed in
                  connection therewith) does not mean that Handyhub endorses any of the
                  material on such websites or has any association with their operators.
                  It is your responsibility to evaluate the content and usefulness of the
                  information obtained from other sites. The use of any website
                  controlled, owned or operated by third parties is governed by the terms
                  and conditions of use and privacy policies for those websites, and not
                  by Handyhub's Terms of Service or Privacy Policy. You access such
                  third-party websites at your own risk. Handyhub expressly disclaims any
                  liability arising from your use and/or viewing of any websites or other
                  material associated with links that may appear on the Service. You
                  hereby agree to exonerate Handyhub from any liability that may result
                  from the use of links that may appear on the Service.
                </p>
              </ol>
              <ol class="terms__list--item mb-4">
                <span> 10. DISCLAIMER AND WARRANTIES </span>
                <p>
                  You accept full responsibility for using the Application subject to the
                  terms herein expressly or impliedly stated. Handyhub make no warranties
                  or representations about the accuracy or completeness of the contents,
                  contract and services provided through the service or the content of any
                  sites linked to the service and assumes no liability or responsibility
                  for any errors, mistakes, or inaccuracies of content, personal injury or
                  property damage of any nature whatsoever, resulting from your access to
                  and use of the service otherwise than as stated in this terms of use.
                  Handyhub does not warrant, endorse, guarantee or assume responsibility
                  for any good or service advertised or offered by a third party through
                  the Application or any hyperlinked website or featured in any manner or
                  other advertising. It will not be a party to or in any way be
                  responsible for monitoring any transaction between you and third-party
                  providers of products or services. You should use your best judgment and
                  exercise caution where appropriate and report any fraudulent activity to
                  Handyhub through the channels provided. Without limitation to the
                  foregoing, neither Handyhub nor its affiliates or licensors warrant that
                  access to the service will be uninterrupted or that the service will be
                  error-free. There is no warranty as to the results that may be obtained
                  from the use of the service, or as to the timeliness, accuracy,
                  reliability, completeness or content of any task or service, information
                  or materials provided through or in connection with the use of the
                  service. You acknowledge and agree that Handyhub is only willing to link
                  you with service providers upon your agreement to certain limitations of
                  our liability to you and third parties. You agree not to hold Handyhub,
                  its affiliates, partners in promotions, agents, employees, officers and
                  partners, liable for any damage, suits, claims, and/or controversies
                  (“liabilities”) that have arisen or may arise, whether known or unknown,
                  relating to your or any other party’s use of or inability to use the
                  service. Handyhub does not accept any liability with respect to the
                  quality or fitness of any work performed via the service, it will ensure
                  quality and timely delivery of services and contracts. For avoidance of
                  doubt, Handyhub all its associates involved in developing, maintaining
                  and projecting the Platform will not be held responsible by any means
                  for:
                </p>
                <div>
                  <ul>
                    <li>Disruption in the fluidity of service provision;</li>
                    <li>
                      An increment in the cost of services or products that may be
                      provided on the Platform;
                    </li>
                    <li>
                      Inability of a member, users or third party to make use of or access
                      the Platform or its integral features
                    </li>
                    <li>The loss of data or any other incidental or special damages;</li>
                    <li>
                      The consequence of your interaction, by any means, with other
                      members, users and third parties on or through the use of the
                      Platform; and or
                    </li>
                    <li>Exchange of services on or through the Platform</li>
                  </ul>
                </div>
              </ol>
              <ol class="terms__list--item mb-4">
                <span>11. Dispute Resolution </span>
                <p>
                  You agree with Handyhub to first attempt to negotiate any Dispute before
                  initiating any mediation and where mediation fails, litigation
                  proceeding may be instituted. Such informal negotiations will commence
                  upon written notice to Handyhub addressed and served on its registered
                  address at No. 172 Aka Etinan Road, Uyo Local Government Area of Akwa
                  Ibom State, Nigeria. Where the dispute is to be settled by negotiation,
                  each party shall appoint his/her Negotiator who shall be a Legal
                  Practitioner and shall allow him to use his best judgment to peacefully
                  resolve issues. Where parties cannot resolve the dispute by negotiation,
                  the matter shall be referred for mediation at The Akwa Ibom State
                  Multi-Door Court House, or Akwa Ibom State Center for Alternative
                  Dispute Resolution.
                </p>
              </ol>
              <ol class="terms__list--item mb-4">
                <span>12. GOVERNING LAWS</span>
                <p>
                  Except as expressly provided otherwise, this Agreement will be is
                  governed by, and will be construed under, the laws of the Federal
                  Republic of Nigeria.
                </p>
              </ol>
              <ol class="terms__list--item mb-4">
                <span> 13. NO AGENCY AND RELATED RELATIONSHIP IS INTENDED </span>
                <p>
                  No agency, partnership, joint venture, employer-employee or
                  franchiser-franchisee relationship is intended or created by this
                  Agreement.
                </p>
              </ol>
              <ol class="terms__list--item mb-4">
                <span> 14. WAIVERS </span>
                <p>
                  You understand that failure by Handyhub to enforce any provision(s) of
                  this Agreement will not be construed as a waiver of any provision or
                  right. This Agreement constitutes the entire agreement between you and
                  Handyhub with respect to the use of the Application and other services.
                  If any provision of this Agreement is found to be invalid or
                  unenforceable, the remaining provisions will be enforced to the fullest
                  extent possible, and the remaining provisions will remain in full force
                  and effect.
                </p>
              </ol>
              <ol class="terms__list--item mb-4">
                <span> 15. REVIEW, ALTERATION OR MODIFICATION OF THIS AGREEMENT </span>
                <p>
                  Handyhub reserves the right and absolute discretion to change, modify,
                  add to, supplement or delete any of the terms and conditions of this
                  Agreement (including the Privacy Policy) and review, improve, modify or
                  discontinue, temporarily or permanently, the Service or any content or
                  information through the Service at any time, effective with or without
                  prior notice to you and without any liability. It will do its best to
                  notify you of these changes by email, but will not be liable for any
                  failure to do so. If any future changes to this Agreement are
                  unacceptable to you or cause you to no longer comply with this
                  Agreement, you must terminate, and immediately stop using, our services.
                  Your continued use of the service following any revision to this
                  Agreement constitutes your complete and irrevocable acceptance of any
                  and all such changes. Handyhub may also impose limits on certain features
                  or restrict your access to parts or all of the Service without notice or
                  liability.
                </p>
              </ol>
              <div class="acceptance-box">
                <label class="check-container">
                   <input
                     type="checkbox"
                     name="currentYear" id=""
                   />
                   <span class="checkmark"></span>
                </label>
                <p class="ms-5">
                  I HEREBY ACKNOWLEDGE THAT I HAVE READ TO MY UNDERSTANDING, THE FOREGOING
                  TERMS OF SERVICE, PRIVACY POLICY AND GUIDELINES AND AGREE THAT MY USE OF
                  THE SERVICE IS AN ACKNOWLEDGMENT OF MY AGREEMENT TO BE BOUND BY THE
                  TERMS AND CONDITIONS OF THIS AGREEMENT.
                </p>
              </div>
            </ul>
           </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

</section>

