<section>
  <ng-container>
    <div class="banner">
      <div class="container">
        <div class="content">
          <div class="about">
            <h2>Terms of Use</h2>
            <p>
              Handyhub App is designed to provide solution to the challenges being faced by people seeking the services of professional service providers and help ease the search for them across Nigeria. The App is also designed to enhance the productivity of service providers by creating a platform through which they can be listed, advertise their services, showcase their experience and have the flexibility to work anytime and anywhere their services may be required. It is an App that can help create a boost for the Nigerian economy. The objective of Handyhub App is to provide a safe platform to connect service providers to customers and provide customers with different filtering options during a search.
            </p>
            <p>
              With Hnadyhub, customers can seamlessly find and request a service provider whose profile and terms suit their needs and can meet the urgency required.
            </p>
           </div>
        </div>
      </div>
    </div>
  </ng-container>

</section>
