@import "partials/abstract/variables";
@import "partials/abstract/mixins";

section {
  .banner {
    margin-top: 10rem;
    background: url('../../../../assets/images/banner.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    h2 {
      font-weight: 700;
      font-size: 5rem;
      line-height: 6.2rem;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 2rem;
      line-height: 150%;
    }
  }

  .service {
    text-align: center;
    min-height: 50vh;
    position: relative;
    h2 {
      text-align: center;
      font-weight: 700;
      font-size: 4rem;
      line-height: 130%;
      span {
        color: #187226;
      }
    }
    .content {
      background-color: rgba($color:  #187226, $alpha: 0.1);
      padding: 3rem 0;
      p {
        text-align: center;
        font-weight: 400;
        font-size: 2rem;
        line-height: 150%;
      }
      button {
        margin: 1.5rem auto 0 auto;
      }
    }
    .frame {
      position: absolute;
      margin-top: -15rem;
      left: 2rem;
    }
    .left {
      position: absolute;
      left: 5rem;
      top: 0;
    }
    .right {
      position: absolute;
      right: 5rem;
      top: 0;
    }
  }

  .question {
    h2 {
      text-align: center;
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 150%;
      margin: 0 auto;
      span {
        color: #187226;
      }
    }
    p {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 150%;
    }
    h2, p, button {
      margin: 0 auto;
    }
  }
}



@include maxSize($canvas: M) {
  section {
    .banner {
       margin-top: 10rem;
       background: none;
       background-size: cover;
       height: 90vh;
       width: 100%;
       h2 {
         font-weight: 700;
         font-size: 3.2rem;
         line-height: 3.2rem;
         background: url('../../../../assets/images/bg.png') no-repeat center center;
         background-size: cover;
         min-height: 45vh;
         padding: 5rem 1.5rem;
       }
       p {
         font-style: normal;
         font-weight: 400;
         font-size: 1.6rem;
         line-height: 160%;
         padding: 2rem 1.5rem;
       }
       button {
        margin-left: 1.5rem;
       }
    }

    .service {
      min-height: 80vh;
      h2 {
        text-align: center;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 150%;
        span {
          color: #187226;
        }
      }
      .content {
        background: rgba(24, 114, 38, 0.1);
        height: 45vh;
        position: relative;
        padding: 0;
        p {
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 150%;
        }
      }
      .frame {
        position: absolute;
        margin-top: -15rem;
        left: 2rem;
      }
    }

    .question {
      min-height: 60vh;
      text-align: center;
      h2 {
        text-align: center;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 150%;
        margin: 0 auto;
        span {
          color: #187226;
        }
      }
      p {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 150%;
      }
    }

  }
}

