<section>
  <ng-container>
    <div class="banner"></div>
  </ng-container>

  <ng-container>
    <div class="about">
      <div>
        <h4>ABOUT US</h4>
        <h2>Road</h2>
        <p>Construction</p>
        <h2>Manufacturing</h2>
        <p>of Toiletries & Pet drinks. </p>
      </div>
    </div>
    <div class="detail">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-12 animate__animated animate__slideInUp animate__delay-3s">
            <div class="card text-center">
              <h4>OUR HISTORY</h4>
              <img src="assets/images/history.jpg" class="card-img-top animate__animated animate__fadeInLeft animate__delay-3s" alt="...">
              <div class="card-body">
                <p class="card-text px-5">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat et magnis
                  varius duis egestas donec. Rutrum arcu semper phasellus
                </p>
                <button class="btn btn-outline-green btn-md my-4">
                  See more
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12 animate__animated animate__slideInDown animate__delay-3s">
            <div class="card text-center">
              <div class="team">
                <h4>OUR TEAM</h4>
                <img src="assets/images/team.jpg" class="card-img-top animate__animated animate__fadeInDown animate__delay-3s" alt="...">
              </div>
              <div class="card-body">
                <p class="card-text px-5">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat et magnis
                  varius duis egestas donec. Rutrum arcu semper phasellus
                </p>
                <button class="btn btn-outline-green btn-md my-4">
                  See more
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12 animate__animated animate__slideInRight animate__delay-3s">
            <div class="card text-center">
              <h4>OUR LICENSE</h4>
              <img src="assets/images/license.jpg" class="card-img-top animate__animated animate__fadeInRight animate__delay-3s" alt="...">
              <div class="card-body">
                <p class="card-text px-5">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat et magnis
                  varius duis egestas donec. Rutrum arcu semper phasellus
                </p>
                <button class="btn btn-outline-green btn-md my-4">
                  See more
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>


</section>
