<div class="wrapper container">
  <div
    class="alert alert-warning alert-dismissible fade show"
    role="alert"
    *ngIf="files.length == 0"
  >
    <h4 class="alert-heading">No Files</h4>
    <p>No files were attached to this correspondence!!!</p>
    <hr />
    <p class="mb-0">
      You can comment on this correspondence and request that files are
      uploaded.
    </p>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <ng-container *ngIf="files.length > 0">
    <div class="wrapper_buttons">
      <button (click)="goBack()" [disabled]="currentViewingFileIndex < 1">
        <img src="assets/icons/back_arrow.svg" alt="" />
      </button>
      <h4>{{ files[currentViewingFileIndex].name! }}</h4>
      <button
        (click)="goForward()"
        [disabled]="currentViewingFileIndex == files.length - 1"
      >
        <img src="assets/icons/front_arrow.svg" alt="" />
      </button>
    </div>
    <div class="wrapper_main">
      <div
        class="wrapper_main-img"
        *ngIf="
          files[currentViewingFileIndex]?.fileType == fileTypeEnum.GIF ||
          files[currentViewingFileIndex]?.fileType == fileTypeEnum.PNG ||
          files[currentViewingFileIndex]?.fileType == fileTypeEnum.JPG ||
          files[currentViewingFileIndex]?.fileType == fileTypeEnum.JPEG ||
          files[currentViewingFileIndex]?.fileType == fileTypeEnum.IMG
        "
      >
        <img [src]="sanitizedUrl" alt="image" />
      </div>
      <div
        class="wrapper_main-i"
        *ngIf="
          files[currentViewingFileIndex]?.fileType != fileTypeEnum.GIF &&
          files[currentViewingFileIndex]?.fileType != fileTypeEnum.PNG &&
          files[currentViewingFileIndex]?.fileType != fileTypeEnum.JPG &&
          files[currentViewingFileIndex]?.fileType != fileTypeEnum.JPEG &&
          files[currentViewingFileIndex]?.fileType != fileTypeEnum.IMG &&
          files[currentViewingFileIndex]?.fileType != fileTypeEnum.PDF
        "
      >
        <!-- <iframe [src]="sanitizedUrl" frameborder="0" allowfullscreen></iframe> -->
        <ngx-doc-viewer
          [url]="files[currentViewingFileIndex].path"
          viewer="office"
          class="doc"
        ></ngx-doc-viewer>
      </div>
      <div class="wrapper_main-pdf">
        <!-- <ngx-extended-pdf-viewer
          [base64Src]="files[currentViewingFileIndex].base64String!"
          *ngIf="files[currentViewingFileIndex]?.fileType == fileTypeEnum.PDF"
          backgroundColor="#333333"
          [useBrowserLocale]="true"
          [handTool]="false"
          [showHandToolButton]="false"
          [showBorders]="false"
          [showPropertiesButton]="false"
          [showToolbar]="true"
          [sidebarVisible]="false"
        >
        </ngx-extended-pdf-viewer> -->
        <ngx-doc-viewer
          [url]="files[currentViewingFileIndex].url"
          viewer="google"
          style="height: 100%"
        ></ngx-doc-viewer>
      </div>
    </div>
  </ng-container>
</div>
