@import "partials/abstract/variables";
@import "partials/abstract/mixins";
@import "partials/components/forms";

.wrapper {
  height: 100%;
  max-width: 54.8rem;
  width: 100%;
  @include minSize($canvas: L) {
    max-width: 54.8rem;
    width: 54.8rem;
  }

  &__logo {
    margin-bottom: 2.4rem;
    text-align: center;
  }

  &__header {
    h1 {
      font-family: $walsheim_font_bold !important;
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 4.8rem;
      text-align: center;
      margin-bottom: 0.4rem;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2.1rem;
      text-align: center;
      color: $text-body;
      margin-bottom: 3.9rem;
    }
  }
  &__forgot,
  &__sign_up {
    margin-bottom: 3.2rem;
    a,
    p {
      color: $purple-700;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 1.8rem;
      text-decoration: none;
    }
    span {
      color: $purple-700;
      text-decoration: underline;
    }
  }
  &__login_btn {
    width: 100%;
    background: $purple-700;
    box-shadow: 0rem 0.4rem 0.8rem -0.1rem rgba(0, 74, 77, 0.15);
    border-radius: 0.8rem;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white-100;
    padding: 1.35rem 0;
    transition: 0.6s all ease;
    &:hover {
      background: rgba($purple-700, 0.8);
    }
  }
  .position-relative {
    .fa {
      position: absolute;
      font-size: 1.5rem;
      top: 1.8rem;
      right: 1.5rem;
    }
  }
}
