<div class="wrapper">
  <div class="wrapper__logo">
    <img src="../../../../assets/images/Filetra_logo2.svg" alt="filetra logo" />
  </div>
  <div class="wrapper__header">
    <h1>Welcome back</h1>
    <p>Enter your credentials below to Login</p>
  </div>
  <div class="wrapper__form">
    <div [formGroup]="loginForm">
      <app-error [error_message]="error_message"></app-error>
      <div class="form_group mb-5">
        <label for="email" class="form-label">Email </label>
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="Enter email address"
          (keyup)="checkForKeyEnter($event)"
          formControlName="email"
          autocomplete="email"
          [ngClass]="{
            'is-invalid':
              (loginForm.get('email')?.errors &&
                loginForm.get('email')?.touched) ||
              (loginForm.get('email')?.hasError('required') &&
                loginFormSubmitted) ||
              (loginForm.get('email')?.hasError('email') && loginFormSubmitted)
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            loginForm.get('email')?.hasError('required') &&
            loginFormSubmitted &&
            !loginForm.get('email')?.hasError('email') &&
            loginFormSubmitted
          "
        >
          Required
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            loginForm.get('email')?.hasError('email') &&
            loginFormSubmitted &&
            !loginForm.get('email')?.hasError('required') &&
            loginFormSubmitted
          "
        >
          Enter a valid email
        </div>
      </div>
      <div class="form_group mb-3">
        <label for="password" class="form-label">Password </label>
        <input
          type="password"
          class="form-control"
          placeholder="Enter password"
          id="password"
          formControlName="password"
          (keyup)="checkForKeyEnter($event)"
          autocomplete="current-password"
          [ngClass]="{
            'is-invalid':
              (loginForm.get('password')?.errors &&
                loginForm.get('password')?.touched) ||
              (loginForm.get('password')?.hasError('required') &&
                loginFormSubmitted)
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            loginForm.get('password')?.hasError('required') &&
            loginFormSubmitted
          "
        >
          Required
        </div>
      </div>
      <div class="wrapper__forgot">
        <a routerLink="../forgot-password"> Forgot Password?</a>
      </div>
      <button
        class="btn wrapper__login_btn"
        (click)="login()"
        [disabled]="isLoggingIn"
      >
        <app-loading-button
          [text]="'Login'"
          [condition]="isLoggingIn"
        ></app-loading-button>
      </button>
      <div class="wrapper__sign_up mt-4">
        <p>
          Dont have an account?
          <a routerLink="/authentication/register"><span>Sign Up</span></a>
        </p>
      </div>
    </div>
  </div>
</div>
