@import "partials/abstract/variables";

section {
  color: rgba($color: $blue-300, $alpha: 0.7) !important;
  padding: 2rem 0;
  .gallery {
    background: linear-gradient(180deg, rgba(63, 188, 234, 0.1) 45.16%, rgba(63, 188, 234, 0) 100%);
    min-height: 100vh;
    display: flex;
    h4 {
      text-align: center;
      font-style: normal;
      font-weight: 400;
      font-size: 3.2rem;
      line-height: 6rem;
      padding: 1.5rem;
    }
    .card {
      border: none;
      p {
        font-style: normal;
        font-weight: 200;
        font-size: 1.8rem;
        line-height: 2.1rem;
        color: $text-body !important;
      }
    }
  }
}
