<form [formGroup]="stepTwoForm">
  <div class="info"><app-info></app-info></div>
  <div class="row">
    <div class="col-12">
      <div class="form_group mb-5">
        <label for="firstName" class="form-label">Items Of Import</label>
        <textarea
          name=""
          id=""
          cols="30"
          placeholder="Message"
          rows="10"
          class="form-control"
          formControlName="itemsOfImport"
          [ngClass]="{
            'is-invalid':
              (stepTwoForm.get('itemsOfImport')!.errors &&
                stepTwoForm.get('itemsOfImport')!.touched) ||
              (stepTwoForm.get('itemsOfImport')!.errors && stepTwoFormSubmitted)
          }"
        ></textarea>
      </div>
    </div>
    <div class="col-12">
      <div class="form_group mb-5">
        <label for="middleName" class="form-label">LC Value in Figures</label>
        <input
          type="number"
          id="middleName"
          class="form-control"
          placeholder="LC value"
          formControlName="valueInFigures"
          [ngClass]="{
            'is-invalid':
              (stepTwoForm.get('valueInFigures')!.errors &&
                stepTwoForm.get('valueInFigures')!.touched) ||
              (stepTwoForm.get('valueInFigures')!.errors &&
                stepTwoFormSubmitted)
          }"
        />
      </div>
    </div>
    <div class="col-12">
      <div class="form_group mb-5">
        <label for="lastName" class="form-label">LC Value in Words</label>
        <textarea
          name=""
          id=""
          cols="30"
          placeholder="LC Value in Words"
          rows="10"
          class="form-control"
          formControlName="valueInWords"
          [ngClass]="{
            'is-invalid':
              (stepTwoForm.get('valueInWords')!.errors &&
                stepTwoForm.get('valueInWords')!.touched) ||
              (stepTwoForm.get('valueInWords')!.errors && stepTwoFormSubmitted)
          }"
        ></textarea>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form_group mb-5">
        <label for="phoneNo" class="form-label"
          >Proformance Invoice Number</label
        >
        <input
          type="number"
          id="phoneNo"
          class="form-control"
          placeholder="Enter a Number"
          formControlName="proformaInvoiceNumber"
          [ngClass]="{
            'is-invalid':
              (stepTwoForm.get('proformaInvoiceNumber')!.errors &&
                stepTwoForm.get('proformaInvoiceNumber')!.touched) ||
              (stepTwoForm.get('proformaInvoiceNumber')!.errors &&
                stepTwoFormSubmitted)
          }"
        />
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form_group mb-5">
        <label for="altPhoneNo" class="form-label"
          >Performance Invoice Date
        </label>
        <input
          type="datetime-local"
          id="altPhoneNo"
          class="form-control"
          placeholder="Select Date"
          formControlName="proformaInvoiceDate"
          [ngClass]="{
            'is-invalid':
              (stepTwoForm.get('proformaInvoiceDate')!.errors &&
                stepTwoForm.get('proformaInvoiceDate')!.touched) ||
              (stepTwoForm.get('proformaInvoiceDate')!.errors &&
                stepTwoFormSubmitted)
          }"
        />
      </div>
    </div>
    <div class="form_section">
      <p>Form M details</p>
      <div class="line"></div>
    </div>
    <div class="col-lg-4">
      <div class="form_group mb-5">
        <label for="mfNumber" class="form-label">MF Number </label>
        <input
          type="number"
          id="mfNumber"
          class="form-control"
          placeholder="Enter a Number"
          formControlName="mFNumber"
          [ngClass]="{
            'is-invalid':
              (stepTwoForm.get('mFNumber')!.errors &&
                stepTwoForm.get('mFNumber')!.touched) ||
              (stepTwoForm.get('mFNumber')!.errors && stepTwoFormSubmitted)
          }"
        />
      </div>
    </div>

    <div class="col-lg-4">
      <div class="form_group mb-5">
        <label for="ba/ca" class="form-label">BA/CB Number </label>
        <input
          type="number"
          id="ba/ca number"
          class="form-control"
          placeholder="Enter a Number"
          formControlName="bANumber"
          [ngClass]="{
            'is-invalid':
              (stepTwoForm.get('bANumber')!.errors &&
                stepTwoForm.get('bANumber')!.touched) ||
              (stepTwoForm.get('bANumber')!.errors && stepTwoFormSubmitted)
          }"
        />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form_group mb-5">
        <label for="validUntil" class="form-label">Valid Until </label>
        <input
          type="datetime-local"
          id="validUntil"
          class="form-control"
          placeholder="Select a date"
          formControlName="validUntil"
          [ngClass]="{
            'is-invalid':
              (stepTwoForm.get('validUntil')!.errors &&
                stepTwoForm.get('validUntil')!.touched) ||
              (stepTwoForm.get('validUntil')!.errors && stepTwoFormSubmitted)
          }"
        />
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form_group">
        <label for="shipment" class="form-label"
          >Latest Shipment/Airlift Date</label
        >
        <input
          type="datetime-local"
          id="shipment"
          class="form-control"
          placeholder="Select date"
          formControlName="latestShipment"
          [ngClass]="{
            'is-invalid':
              (stepTwoForm.get('latestShipment')!.errors &&
                stepTwoForm.get('latestShipment')!.touched) ||
              (stepTwoForm.get('latestShipment')!.errors &&
                stepTwoFormSubmitted)
          }"
        />
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form_group">
        <label for="expiry" class="form-label">LC Expiry Date </label>
        <input
          type="datetime-local"
          id="expiry"
          class="form-control"
          placeholder="Select Date"
          formControlName="expiryDate"
          [ngClass]="{
            'is-invalid':
              (stepTwoForm.get('expiryDate')!.errors &&
                stepTwoForm.get('expiryDate')!.touched) ||
              (stepTwoForm.get('expiryDate')!.errors && stepTwoFormSubmitted)
          }"
        />
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="btn btn-outline-grey btn-md me-4" (click)="back()">
      Back
    </button>
    <button class="btn btn-green btn-md" (click)="continue()">Continue</button>
  </div>
</form>
