<form [formGroup]="stepFourForm">
  <div class="info"><app-info></app-info></div>

  <div class="row">
    <div class="col-lg-6 mt-5">
      <div class="form_group mb-5">
        <label for="Shipment" class="form-label">Shipment/Dispatch from</label>
        <input
          type="text"
          id="Shipment"
          class="form-control"
          placeholder="Enter Origin"
          formControlName="dispatchFrom"
          [ngClass]="{
            'is-invalid':
              (stepFourForm.get('dispatchFrom')!.errors &&
                stepFourForm.get('dispatchFrom')!.touched) ||
              (stepFourForm.get('dispatchFrom')!.errors &&
                stepFourFormSubmitted)
          }"
        />
      </div>
    </div>
    <div class="col-lg-6 mt-5">
      <div class="form_group mb-5">
        <label for="to" class="form-label">Shipment/Dispatch to </label>
        <input
          type="text"
          id="to"
          class="form-control"
          placeholder="Enter Destination"
          formControlName="dispatchTo"
          [ngClass]="{
            'is-invalid':
              (stepFourForm.get('dispatchTo')!.errors &&
                stepFourForm.get('dispatchTo')!.touched) ||
              (stepFourForm.get('dispatchTo')!.errors && stepFourFormSubmitted)
          }"
        />
      </div>
    </div>
    <div class="form_section">
      <p>Partial Shipment</p>
      <div class="line"></div>
    </div>
    <div class="col-12 mb-4">
      <div class="form_group">
        <div class="">
          <label class="check-container">
            <input
              type="radio"
              name="partialShipment"
              id="Partial1"
              [value]="shipmentStatusEnum.ALLOWED"
              formControlName="partialShipment"
            />
            <span class="checkmark"></span>
          </label>
        </div>
        <label for="Partial" class="click ms-5"> Allowed </label>
      </div>
    </div>
    <div class="col-12 mb-4">
      <div class="form_group">
        <div class="">
          <label class="check-container">
            <input
              type="radio"
              name="partialShipment"
              id="partial2"
              formControlName="partialShipment"
              [value]="shipmentStatusEnum.PROHIBITED"
            />
            <span class="checkmark"></span>
          </label>
        </div>
        <label for="Partial" class="click ms-5"> Prohibited </label>
      </div>
    </div>
    <div class="form_section">
      <p>Trans- shipment</p>
      <div class="line"></div>
    </div>
    <div class="col-12 mb-4">
      <div class="form_group">
        <div class="">
          <label class="check-container">
            <input
              type="radio"
              name="transShipment"
              id="Trans"
              formControlName="transShipment"
              [value]="shipmentStatusEnum.ALLOWED"
            />
            <span class="checkmark"></span>
          </label>
        </div>
        <label for="Trans" class="click ms-5"> Allowed </label>
      </div>
    </div>
    <div class="col-12 mb-4">
      <div class="form_group">
        <div class="">
          <label class="check-container">
            <input
              type="radio"
              name="transShipment"
              id="Trans2"
              formControlName="transShipment"
              [value]="shipmentStatusEnum.PROHIBITED"
            />
            <span class="checkmark"></span>
          </label>
        </div>
        <label for="Trans2" class="click ms-5"> Prohibited </label>
      </div>
    </div>
  </div>
  <div class="form_section">
    <p>Oversees bank charges are for</p>
    <div class="line"></div>
  </div>
  <div class="col-12 mb-5">
    <div class="form_group">
      <div class="">
        <label class="check-container">
          <input
            type="radio"
            name="overseesBankCharges"
            id="overseesBankCharges1"
            [value]="bankChargesEnum.BENEFICIARY"
            formControlName="overseesBankCharges"
          />
          <span class="checkmark"></span>
        </label>
      </div>
      <label for="Oversees" class="click ms-5"> Beneficiary </label>
    </div>
  </div>
  <div class="col-12 mb-5">
    <div class="form_group">
      <div class="">
        <label class="check-container">
          <input
            type="radio"
            name="overseesBankCharges"
            id="overseesBankCharges2"
            formControlName="overseesBankCharges"
            [value]="bankChargesEnum.APPLICANT"
          />
          <span class="checkmark"></span>
        </label>
      </div>
      <label for="Oversees" class="click ms-5"> Applicant </label>
    </div>
  </div>
  <div class="info">
    <app-info [info_message]="'Special Condition'">
      <div content>
        <ul class="ms-4 mt-2">
          <li>
            All documents must bear LC Number and Form M MF and BA/CB Number
          </li>
          <li>
            Documents must be presented not later than 21 days after shipment
          </li>
          <li>
            Shipment document including bill of lading dated prior to LC opening
            date is not acceptable
          </li>
        </ul>
      </div></app-info
    >
  </div>
  <div class="footer">
    <button class="btn btn-outline-grey btn-md me-4" (click)="back()">
      Back
    </button>
    <button class="btn btn-green btn-md" (click)="continue()">Continue</button>
  </div>
</form>
