@import "partials/abstract/variables";
@import "partials/abstract/mixins.scss";

nav {
  // min-height: 6.4rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  background-color: $white-100;
  padding: 0.8rem 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    // max-width: 10rem;
    object-fit: contain;
    @include maxSize($canvas: L) {
      // max-width: 8rem;
    }
  }
  .right {
    display: flex;

    h4 {
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: $text-body;
      margin-bottom: 0;
      padding-left: 2rem;
      cursor: pointer;
    }
    &_notification {
      transition: 0.3s all ease-in-out;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
    &_avatar {
      border: 0.2rem solid $purple-900;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.1rem;
      margin-left: 1rem;
      cursor: pointer;
      img {
        display: inline-block;
        background-size: cover;
        border-radius: 50%;
        width: 100%;
      }
    }
  }
}
.line {
  opacity: 0.3;
  border-right: 0.2rem solid $text-body;
  padding-left: 2rem;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.9rem 3rem 1.2rem;
  border-bottom: 1px solid rgba(42, 9, 94, 0.1);
  margin-bottom: 2.7rem;
  h5 {
    font-family: $walsheim_font_bold;
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin-left: 1rem;
    color: $text-body;
  }
}
.pointer {
  cursor: pointer;
}
