@import "partials/abstract/variables";
@import "partials/abstract/mixins.scss";

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50000 !important;
  border-left: 0.1rem solid rgba($blue-300, 0.1);
  background-color: rgba($white-100, 1);
  // background-color: transparent;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  // height: 6.5rem;
  // max-height: 6.5rem;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    // padding: 1.8rem 6.2rem 1.8rem 3.2rem;
    overflow-x: auto;
    overflow-y: hidden;

    .logo{
      width: 100%;
    }
    .nav-item {
      font-size: 2rem;
    }
    .nav-link {
      color: $black-300;
      font-size: 2rem;
      &:active {
        color: $blue-300;
        font-weight: 500;
      }
    }
    .active  {
      color: $blue-300;
      font-weight: 500;
    }
  }
}
