
<section>
  <app-navbar
    [display]="false"
  ></app-navbar>

  <ng-container >
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div>
              <h2>{{ speaker?.fullName }}</h2>
              <h4>{{ speaker?.position }}</h4>
              <h3>{{ speaker?.organization }}</h3>
            </div>
          </div>
          <div
            class="col-md-6 d-none d-md-block"
            [style.background-image]="'url(' + speaker?.fileUrl+ ')'"
          >
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container >
    <div class="content">
      <div class="container">
        <div class="detail" [innerHTML]="speaker?.biography"></div>
      </div>
    </div>
  </ng-container>

  <app-footer></app-footer>
</section>

