<section class="document_status_wrapper">
  <p class="back_btn click w-fit-content" routerLink="/documents">
    <img src="assets/icons/back.svg" alt="" />
    <span class="ps-3">Go Back</span>
  </p>

  <div class="row mt-5">
    <div class="col-md-4 col-lg-3 document_progress me-3">
      <ng-container *ngIf="loading">
        <div class="mb-5">
          <div *ngFor="let dummy of [1, 2, 3, 4, 5]">
            <app-filetra-skeleton-loader
              width="100%"
              height="3rem"
            ></app-filetra-skeleton-loader>
          </div>
        </div>
        <div *ngFor="let dummy of [1, 2, 3, 4, 5]">
          <app-filetra-skeleton-loader
            width="100%"
            height="3rem"
          ></app-filetra-skeleton-loader>
        </div>
      </ng-container>
      <ng-container *ngIf="!loading">
        <div class="accordion" id="formAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <div class="d-flex align-items-center">
                <div
                  class="accordion-button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  <div class="circle">
                    <img src="assets/images/doc2.svg" alt="" />
                  </div>
                  <span class="px-3">Document Info</span>
                </div>
                <div class="w-fill-available"></div>
              </div>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
            >
              <div class="accordion-body">
                <ul class="px-3 m-0">
                  <li>
                    <h4>Document Type</h4>
                    <p>{{ documentDetail.documentType || "--" }}</p>
                  </li>
                  <li>
                    <h4>Subject</h4>
                    <p>{{ documentDetail.subject || "--" }}</p>
                  </li>
                  <li>
                    <h4>Status</h4>
                    <p>
                      {{ documentDetail.treatmentStatusId || "--" }}
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div
          class="accordion"
          id="formAccordion"
          *ngIf="documentDetail?.files?.length! > 0"
        >
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <div class="d-flex align-items-center">
                <div
                  class="accordion-button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="true"
                  aria-controls="collapseTwo"
                >
                  <div class="circle">
                    <img src="assets/images/clip.svg" alt="" />
                  </div>
                  <span class="px-3">Attachment</span>
                </div>
                <div class="w-fill-available"></div>
              </div>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
            >
              <div class="accordion-body">
                <ul class="px-3 m-0">
                  <li
                    class="d-flex align-items-center click"
                    (click)="attachmentLink = file"
                    (click)="getFileIndex(file)"
                    *ngFor="let file of documentDetail?.files"
                  >
                    <img 
                      [src]="getFileType(file.fileType)" 
                      alt="" 
                      class="wrapper_ext" 
                    />
                    <p class="d-inline-block ps-3">{{ file.name }}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="col-md-7 col-lg-8 ">
      <ng-container>
        <div class="bg-white" *ngIf="!resLoading">
          <app-messaging
            [messages]="chats"
            [resLoading]="resLoading"
            [fileSubmissionId]="fileSubmissionId"
          ></app-messaging>
        </div>
        <div class="chat_wrapper bg-white" *ngIf="resLoading">
          <div class="head">
            <app-filetra-skeleton-loader
              width="5rem"
              height="5rem"
              appearance="circle"
            ></app-filetra-skeleton-loader>
            <app-filetra-skeleton-loader
              width="25rem"
              height="3rem"
            ></app-filetra-skeleton-loader>
          </div>
          <div id="chatTemplate">
            <div *ngFor="let item of [1 ,2 , 3]">
                <div class="d-flex justify-content-start mb-4">
                    <app-filetra-skeleton-loader
                      width="45rem"
                      height="5rem"
                    ></app-filetra-skeleton-loader>
                </div>
                <div class="d-flex justify-content-end mb-4">
                    <app-filetra-skeleton-loader
                      width="45rem"
                      height="5rem"
                    ></app-filetra-skeleton-loader>
                </div>
            </div>
        </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
