@import "partials/abstract/variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

.mat-typography {
  font-family: "Poppins", sans-serif;
  .modal-title {
    font-size: 3.15rem;
    font-weight: bold;
    color: $purple-700;
  }
  p {
    font-size: 1.7rem;
    line-height: 3rem;
    color: $text-body;
  }
  .text-primary {
    color: $blue-300;
  }
}
