<div class="d-flex justify-content-between" mat-dialog-title>
    <h2 mat-dialog-title> </h2>
    <div class="click" mat-dialog-close>
      <img src="assets/icons/x.svg" alt="" />
    </div>
  </div>
  <mat-dialog-content class="mat-typography text-center">
    <h1 class="modal-title py-4">Reset Password Link Sent </h1>
    <p>Hey Champ, we’ve sent a reset link to your email 
      <span class="text-primary">{{ modalData?.email }}</span>,
      kindly click the link to complete your action.
    </p>
  </mat-dialog-content>
  