<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-12 mb-5">
        <img src="assets/images/GODP-logo.svg" alt="Brooks-Rolls Logo" class="logo">
      </div>
      <div class="col-lg-3 col-md-3 col-6 mb-5">
        <h4>Company</h4>
        <ul>
          <li>
            <a href="">Campaigns</a>
          </li>
          <li>
            <a href="">Email Marketing</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-6 mb-5">
        <h4>Resources</h4>
        <ul>
          <li>
            <a routerLink="/terms" >Terms of Use</a>
          </li>
          <li>
            <a href="">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-8 mb-5">
        <h4>Contact</h4>
        <ul>
          <li>
            <a routerLink="/faq">FAQs</a>
          </li>
          <li class="d-flex">
            <a href="">
              <img class="icon me-2" src="assets/images/facebook.svg" alt="">
            </a>
            <a href="">
              <img class="icon me-2" src="assets/images/twitter.svg" alt="">
            </a>
            <a href="">
              <img class="icon" src="assets/images/instagram.svg" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
