@import "partials/abstract/variables";
@import "partials/abstract/mixins";

footer {
  background: $black-200;
  padding: 5rem 1rem 1.5rem 1rem;
  display: flex;
  min-height: 30vh;
  color: $white-100 !important;
  h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.3rem;
    padding: 2.5rem 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      line-height: 2.3rem;
      padding: 2.5rem 0;
      a {
        font-style: normal;
        font-weight: 300;
        font-size: 2rem;
        text-decoration: none;
        color: $white-100 !important;
        .icon {
          width: 70%;
        }
      }
    }
  }
}

@include maxSize($canvas: M) {
  footer {
    color: $white-100 !important;
    h4 {
      font-style: normal;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.3rem;
      padding: 1.5rem 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        line-height: 2.3rem;
        padding: 1.5rem 0;
        a {
          font-style: normal;
          font-weight: 300;
          font-size: 1.8rem;
          text-decoration: none;
          color: $white-100 !important;
          .icon {
            width: 55%;
          }
        }
      }
    }
   }
}
