@import "partials/abstract/variables";
@import "partials/abstract/mixins";
@import "partials/components/forms";

$side_padding: 3rem 10.5rem 3rem 9rem;
$mobile_side_padding: 1.5rem;

.profile__wrapper {
  padding: $side_padding;
  .profile_title {
    color: $purple-700;
  }
  .profile__card {
    border: 0.1rem solid rgba(76, 17, 171, 0.2);
    border-radius: 1.2rem;
    margin-top: 2.5rem;

    padding: 2rem 2rem 0rem 2rem;
    .profile_img {
      position: relative;
      .name-badge {
        background: $white-100;
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        position: relative;
        .profile-init {
          position: absolute;
          color: $purple-700;
          font-size: 3.5rem;
          font-weight: bold;
          text-align: center;
          padding-top: 2.4rem;
          padding-left: 2rem;
        }
      }
      .profile__pix {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
      }
      .position-relative {
        position: absolute;
        font-size: 0.5rem;
        bottom: 3.6rem;
        left: 5.8rem;
        border: 0.3rem solid $purple-700;
        padding: 1.5rem;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        display: flex;
        cursor: pointer;
        background: $purple-100;
        .fas {
          position: absolute;
          bottom: 0.75rem;
          right: 0.7rem;
          font-size: 1.5rem;
          color: $purple-700;
        }
        input[type="file"] {
          font-size: 10rem;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          cursor: pointer;
        }
      }
    }
    .profile_detail {
      padding: 3.5rem 1rem 1.5rem 1.7rem;
      h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: $text-body;
      }
      p {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $text-body;
        opacity: 0.8;
      }
    }
  }
  .profile__form {
    background: $white-100;
    box-shadow: 0rem 0.4rem 1.6rem rgba(0, 0, 0, 0.05);
    border-radius: 1.2rem;
    padding: 2rem 2.5rem;
  }
  .wrapper__login_btn,
  .change_password_btn,
  .dummy_btn {
    width: 23.5%;
    height: 4.5rem !important;
    border-radius: 0.8rem;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white-100;
    padding: 0.35rem 1rem;
    transition: 0.6s all ease;
  }
  .wrapper__login_btn {
    background: $purple-700;
    box-shadow: 0rem 0.4rem 0.8rem -0.1rem rgba(0, 74, 77, 0.15);
    &:hover {
      background: $purple-700;
    }
  }
  .change_password_btn {
    background: transparent;
    border: 0.15rem solid rgba(58, 46, 77, 0.2);
    border-radius: 0.8rem;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2.1rem;
    color: $text-body;

    &:hover {
      background: $purple-700;
      color: $white-100;
    }
  }
}

@include maxSize($canvas: L) {
  .profile__wrapper {
    padding: $mobile_side_padding;
    .wrapper__login_btn,
    .change_password_btn {
      width: 30%;
    }
    .change_password_btn {
      //   margin-top: 1rem;
    }
  }
}

@include maxSize($canvas: M) {
  .profile__wrapper {
    padding: $mobile_side_padding;
    .wrapper__login_btn,
    .change_password_btn {
      width: 100%;
    }
    .change_password_btn {
      margin-top: 2rem;
    }
    .profile__card {
      padding: 1.5rem;
      .profile_img {
        .profile__pix {
          height: 7rem;
          width: 7rem;
          border-radius: 50%;
        }
        .position-relative {
          font-size: 0.5rem;
          bottom: 2.5rem;
          left: 4rem;
          padding: 1.2rem;
          height: 1.2rem;
          width: 1.5rem;
          .fas {
            position: absolute;
            bottom: 0.5rem;
            right: 0.4rem;
            font-size: 1.3rem;
            color: $purple-700;
          }
          input[type="file"] {
            font-size: 5rem;
          }
        }
      }
      .profile_detail {
        padding: 2.5rem 1rem 1.5rem 1.7rem;
        h3 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1.15rem;
        }
      }
    }
  }
}
.progress_bar {
  display: flex;
  align-items: center;
  p {
    margin-left: 0.5rem;
    margin-bottom: 0;
  }
}
