<section>
  <p
    class="d-flex align-items-center mb-5 click w-fit-content"
    routerLink="/application"
  >
    <img src="assets/icons/back.svg" alt="" />
    <span class="ps-3 font14 font-bold">Go Back</span>
  </p>
  <section class="row">
    <div class="col-lg-4 col-md-5 col-sm-12 mb-4">
      <div class="document_progress scrollWithin">
        <ng-container *ngIf="loading">
          <div class="mb-5">
            <div *ngFor="let dummy of [1, 2, 3, 4, 5]">
              <app-docstream-skeleton-loader
                width="100%"
                height="2rem"
              ></app-docstream-skeleton-loader>
            </div>
          </div>
          <div *ngFor="let dummy of [1, 2, 3, 4, 5]">
            <app-docstream-skeleton-loader
              width="100%"
              height="2rem"
            ></app-docstream-skeleton-loader>
          </div>
        </ng-container>
        <ng-container *ngIf="!loading">
          <div class="accordion" id="formAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <div class="d-flex align-items-center">
                  <div
                    class="accordion-button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    <div class="circle">
                      <img src="assets/images/document.svg" alt="" />
                    </div>
                    <span class="px-3">Document Info</span>
                  </div>
                  <div class="w-fill-available"></div>
                </div>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
              >
                <div class="accordion-body">
                  <ul class="px-3 m-0">
                    <li>
                      <h4>Applicant’s Name</h4>
                      <p>{{ lcAplicationDetail.applicantName }}</p>
                    </li>
                    <li>
                      <h4>Beneficiary’s Name</h4>
                      <p>{{ lcAplicationDetail.beneficiaryName }}</p>
                    </li>
                    <li>
                      <h4>LC Value in figures</h4>
                      <p>{{ lcAplicationDetail.valueInFigure }}</p>
                    </li>
                    <li>
                      <h4>LC Expiry Date</h4>
                      <p>{{ lcAplicationDetail.expiryDate | date }}</p>
                    </li>
                    <li>
                      <h4>Date Submitted</h4>
                      <p>{{ lcAplicationDetail.dateSubmitted | date }}</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion" id="formAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <div class="d-flex align-items-center">
                  <div
                    class="accordion-button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="true"
                    aria-controls="collapseTwo"
                  >
                    <div class="circle">
                      <img src="assets/images/attachment.svg" alt="" />
                    </div>
                    <span class="px-3">Supporting Documents</span>
                  </div>
                  <div class="w-fill-available"></div>
                </div>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
              >
                <div class="accordion-body">
                  <ul class="px-3 m-0">
                    <li *ngFor="let file of lcAplicationDetail.files">
                      <div
                        class="d-flex align-items-center"
                        *ngIf="file.supportingDocuments"
                      >
                        <img src="assets/images/pdf.svg" alt="" />
                        <p class="d-inline-block ps-3">
                          {{ file.supportingDocuments.name }}
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-lg-8 col-md-7 col-sm-12 mb-4">
      <div class="form-wrapper">
        <ng-container *ngIf="loading">
          <div *ngFor="let dummy of [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]">
            <app-docstream-skeleton-loader
              width="100%"
              height="5rem"
            ></app-docstream-skeleton-loader>
          </div>
        </ng-container>
        <ng-container *ngIf="!loading">
          <p class="title mb-0">LC Application</p>
          <hr />
          <div class="scrollWithin">
            <div>
              <form class="row">
                <div class="col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">Date</label>
                    <input
                      type="date"
                      class="form-control"
                      [value]="getDate(lcAplicationDetail.lcApplicationDate)"
                      readonly
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">Applicant’s Name</label>
                    <input
                      readonly
                      type="text"
                      class="form-control"
                      placeholder="Enter Name"
                      [value]="lcAplicationDetail.applicantName"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">Applicant’s Address</label>
                    <input
                      readonly
                      type="text"
                      class="form-control"
                      placeholder="Enter Address"
                      [value]="lcAplicationDetail.applicantAddress"
                    />
                  </div>
                </div>
                <div class="col-md-7 col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">Beneficiary’s Name</label>
                    <input
                      readonly
                      type="text"
                      class="form-control"
                      placeholder="Enter Name"
                      [value]="lcAplicationDetail.beneficiaryName"
                    />
                  </div>
                </div>
                <div class="col-md-5 col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">Beneficiary’s Tel</label>
                    <input
                      readonly
                      type="tel"
                      class="form-control"
                      placeholder="Enter Phone Number"
                      [value]="lcAplicationDetail.beneficiaryPhoneNumber"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">Beneficiary’s Address</label>
                    <input
                      readonly
                      type="text"
                      class="form-control"
                      placeholder="Enter Address"
                      [value]="lcAplicationDetail.beneficiaryAddress"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">LC Type</label>
                    <select
                      disabled
                      class="form-control"
                      [value]="types[lcAplicationDetail.type]"
                    >
                      <option value="{{ type.id }}" *ngFor="let type of types">
                        {{ type.type }}
                      </option>
                    </select>
                  </div>
                </div>
                <h4 class="subHeading">Payment Terms</h4>

                <div class="col-md-6 col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">Usance</label>
                    <input
                      readonly
                      type="text"
                      class="form-control"
                      placeholder="Usance"
                      [value]="lcAplicationDetail.ussance"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">CFR/CPT</label>
                    <input
                      readonly
                      type="text"
                      class="form-control"
                      placeholder="CFR/CPT"
                      [value]="lcAplicationDetail.cfr"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">Location</label>
                    <input
                      readonly
                      type="text"
                      class="form-control"
                      placeholder="Location"
                      [value]="lcAplicationDetail.location"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">Items of import</label>
                    <textarea
                      readonly
                      type="text"
                      class="form-control"
                      placeholder="Items of import"
                      [value]="lcAplicationDetail.itemsOfImport"
                    ></textarea>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">LC values in figures</label>
                    <input
                      readonly
                      type="text"
                      class="form-control"
                      placeholder="LC values in figures"
                      [value]="lcAplicationDetail.valueInFigure"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">Lc values in words</label>
                    <textarea
                      readonly
                      type="text"
                      class="form-control"
                      placeholder="Lc values in words"
                      [value]="lcAplicationDetail.valueInWords"
                    ></textarea>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">Proforma Invoice Number</label>
                    <input
                      readonly
                      type="text"
                      class="form-control"
                      placeholder="Proforma Invoice Number"
                      [value]="lcAplicationDetail.proformaInvoiceNumber"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">Proforma Invoice Date</label>
                    <input
                      readonly
                      type="date"
                      class="form-control"
                      [value]="getDate(lcAplicationDetail.proformaInvoiceDate)"
                    />
                  </div>
                </div>
                <h4 class="subHeading">Form M Details</h4>
                <div class="col-md-4 col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">MF Number</label>
                    <input
                      readonly
                      type="number"
                      class="form-control"
                      placeholder="MF Number"
                      [value]="lcAplicationDetail.mfNumber"
                    />
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">BA/CB Number</label>
                    <input
                      readonly
                      type="number"
                      class="form-control"
                      placeholder="BA/CB Number"
                      [value]="lcAplicationDetail.baNumber"
                    />
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">Valid Untill</label>
                    <input
                      readonly
                      type="date"
                      class="form-control"
                      [value]="getDate(lcAplicationDetail.validUntil)"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form_group mb-5">
                    <label class="form-label"
                      >Latest Shipment/Airlift Date</label
                    >
                    <input
                      readonly
                      type="date"
                      class="form-control"
                      [value]="getDate(lcAplicationDetail.latestShipment)"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">LC Expiry Date</label>
                    <input
                      readonly
                      type="date"
                      class="form-control"
                      [value]="getDate(lcAplicationDetail.expiryDate)"
                    />
                  </div>
                </div>
                <h4 class="subHeading">
                  Available for payment upon presentation of the following
                  Documents
                </h4>
                <div class="form-check" *ngIf="lcAplicationDetail.hasCCVO">
                  <input
                    disabled
                    class="form-check-input mb-5 font14"
                    type="checkbox"
                    value="Value here"
                    id="1"
                    checked
                  />
                  <label class="form-check-label font14" for="1">
                    2 Original Combined Certificate of Value and Origin (CCVO on
                    form C16 and 3 copies)
                  </label>
                </div>
                <div
                  class="form-check"
                  *ngIf="
                    lcAplicationDetail.hasManufacturerCertificateOfProduction
                  "
                >
                  <input
                    disabled
                    class="form-check-input mb-5 font14"
                    type="checkbox"
                    value="Value here"
                    id="2"
                    checked
                  />
                  <label class="form-check-label font14" for="2">
                    2 Original manufacturers certificate of production stating
                    standards adopted
                  </label>
                </div>
                <div
                  class="form-check"
                  *ngIf="lcAplicationDetail.hasCommercialInvoice"
                >
                  <input
                    disabled
                    class="form-check-input mb-5 font14"
                    type="checkbox"
                    value="Value here"
                    id="3"
                    checked
                  />
                  <label class="form-check-label font14" for="3">
                    3 Original commercial invoice and 2 copies
                  </label>
                </div>
                <div
                  class="form-check"
                  *ngIf="lcAplicationDetail.hasParkingList"
                >
                  <input
                    disabled
                    class="form-check-input mb-5 font14"
                    type="checkbox"
                    value="Value here"
                    id="4"
                    checked
                  />
                  <label class="form-check-label font14" for="4">
                    2 Original parking list and 3 copies
                  </label>
                </div>
                <div
                  class="form-check"
                  *ngIf="lcAplicationDetail.laboratoryTestCertificate"
                >
                  <input
                    disabled
                    class="form-check-input mb-5 font14"
                    type="checkbox"
                    value="Value here"
                    id="5"
                    checked
                  />
                  <label class="form-check-label font14" for="5">
                    1 original laboratory test certificate
                  </label>
                </div>
                <div
                  class="form-check"
                  *ngIf="lcAplicationDetail.beneficiaryIssuedCertificate"
                >
                  <input
                    disabled
                    class="form-check-input mb-5 font14"
                    type="checkbox"
                    value="Value here"
                    id="6"
                    checked
                  />
                  <label class="form-check-label font14" for="6">
                    Certificate issued by the beneficiary stating that one set
                    of documents has been forwarded to Fidelity Bank by courier
                    not later than 21 days after shipment
                  </label>
                </div>
                <div
                  class="form-check"
                  *ngIf="lcAplicationDetail.oceanBillOfLanding"
                >
                  <input
                    disabled
                    class="form-check-input mb-5 font14"
                    type="checkbox"
                    value="Value here"
                    id="7"
                    checked
                  />
                  <label class="form-check-label font14" for="7">
                    2/3 original (clean/shipped on board) ocean bill of lading
                    and 3 copies (Non-negotiabe) issued to the order and marked
                    freight prepaid endorse to Fidelitybank PLC.
                  </label>
                </div>
                <div class="col-12 mt-5">
                  <div class="form_group mb-5">
                    <label class="form-label">Airway bill consigned to</label>
                    <textarea
                      type="text"
                      readonly
                      class="form-control"
                      placeholder="Airway bill consigned to"
                      [value]="lcAplicationDetail.airwayBillConsigned"
                    ></textarea>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">Others</label>
                    <textarea
                      readonly
                      type="text"
                      class="form-control"
                      placeholder="Others"
                      [value]="lcAplicationDetail.otherDetails"
                    ></textarea>
                  </div>
                </div>

                <div class="col-md-7 col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">Shipment/Dispatch from</label>
                    <input
                      readonly
                      type="text"
                      class="form-control"
                      placeholder="Shipment/Dispatch from"
                      [value]="lcAplicationDetail.dispatchFrom"
                    />
                  </div>
                </div>
                <div class="col-md-5 col-12">
                  <div class="form_group mb-5">
                    <label class="form-label">Shipment/Dispatch to</label>
                    <input
                      readonly
                      type="tel"
                      class="form-control"
                      [value]="lcAplicationDetail.dispatchTo"
                    />
                  </div>
                </div>
                <h4 class="subHeading">Partial Shipment</h4>
                <div
                  class="form-check"
                  *ngIf="
                    lcAplicationDetail.partialShipment ==
                    shipmentStatusEnum.ALLOWED
                  "
                >
                  <input
                    disabled
                    class="form-check-input mb-5 font14"
                    type="checkbox"
                    value="Value here"
                    id="8"
                    checked
                  />
                  <label class="form-check-label font14" for="8"
                    >Allowed
                  </label>
                </div>
                <div
                  class="form-check"
                  *ngIf="
                    lcAplicationDetail.partialShipment ==
                    shipmentStatusEnum.PROHIBITED
                  "
                >
                  <input
                    disabled
                    class="form-check-input mb-5 font14"
                    type="checkbox"
                    value="Value here"
                    id="9"
                    checked
                  />
                  <label class="form-check-label font14" for="9"
                    >Prohibited
                  </label>
                </div>
                <h4 class="subHeading">Trans-shipment</h4>
                <div
                  class="form-check"
                  *ngIf="
                    lcAplicationDetail.transShipment ==
                    shipmentStatusEnum.ALLOWED
                  "
                >
                  <input
                    disabled
                    class="form-check-input mb-5 font14"
                    type="checkbox"
                    value="Value here"
                    id="10"
                    checked
                  />
                  <label class="form-check-label font14" for="10"
                    >Allowed
                  </label>
                </div>
                <div
                  class="form-check"
                  *ngIf="
                    lcAplicationDetail.transShipment ==
                    shipmentStatusEnum.PROHIBITED
                  "
                >
                  <input
                    disabled
                    class="form-check-input mb-5 font14"
                    type="checkbox"
                    value="Value here"
                    id="11"
                    checked
                  />
                  <label class="form-check-label font14" for="11"
                    >Prohibited
                  </label>
                </div>
                <h4 class="subHeading">Oversees bank charges are for</h4>
                <div
                  class="form-check"
                  *ngIf="
                    lcAplicationDetail.overseesBankCharges ==
                    bankChargesEnum.BENEFICIARY
                  "
                >
                  <input
                    disabled
                    class="form-check-input mb-5 font14"
                    type="checkbox"
                    value="Value here"
                    id="11"
                    checked
                  />
                  <label class="form-check-label font14" for="11"
                    >Beneficiary
                  </label>
                </div>
                <div
                  class="form-check"
                  *ngIf="
                    lcAplicationDetail.overseesBankCharges ==
                    bankChargesEnum.APPLICANT
                  "
                >
                  <input
                    disabled
                    class="form-check-input mb-5 font14"
                    type="checkbox"
                    value="Value here"
                    id="12"
                    checked
                  />
                  <label class="form-check-label font14" for="12"
                    >Applicant
                  </label>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="signature">
                    <img
                      [src]="lcAplicationDetail.files[1].signature.path"
                      alt=""
                    />
                    <hr />
                    Signature
                  </div>
                  <div class="stamp">
                    <img
                      [src]="lcAplicationDetail.files[0].stamp.path"
                      alt=""
                    />
                    <hr />
                    Stamp/seal
                  </div>
                </div>
              </form>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </section>
</section>
