<section>
  <div class="review">
    <div class="container">
      <h4>Client Review </h4>
      <div class="row">
       <div class="col-lg-6 col-md-6 col-12 animate__animated animate__fadeInRight animate__delay-3s" *ngFor="let item of [1,2]">
        <div class="card mb-3">
          <div class="card-body">
            <div class="card-title mb-5">
              <div class="avatar">
                <img src="assets/images/avatar.svg" alt="">
                <div class="ms-3">
                  <h5>Dolapo</h5>
                  <p>Lorem ipsum</p>
                </div>
              </div>
              <p>Sep 26 / 8:06PM</p>
            </div>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat et magnis
              varius duis egestas donec. Rutrum arcu semper phasellus odio.Lorem ipsum
              dolor sit amet, consectetur adipiscing elit. Feugiat et magnis varius duis
              egestas donec. Rutrum arcu semper phasellus odio.Lorem ipsum dolor
              sit amet, consectetur adipiscing elit. Feugiat et magnis varius duis egestas
              donec. Rutrum arcu semper phasellus odio.Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Feugiat et magnis varius duis egestas donec.
              Rutrum arcu semper phasellus odio.
            </p>
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
</section>
