<div class="notification_wrapper">
  <div class="notification_wrapper__main">
    <div class="notification_wrapper__main_head">
      <div class="notification_wrapper__main_head--left">
        <img
          *ngIf="notification?.status == notificationStatusEnum.UN_TREATED"
          src="../../../../assets/icons/untreated_file.svg"
          alt="UN_TREATED"
        />
        <img
          *ngIf="notification?.status == notificationStatusEnum.PENDING"
          src="../../../../assets/icons/pending_file.svg"
          alt="Pending"
        />
        <img
          src="../../../../assets/icons/treated_file.svg"
          alt="Treated"
          *ngIf="notification?.status == notificationStatusEnum.TREATED"
        />
        <h4>{{ notification.title }}</h4>
      </div>
      <img
        src="../../../../assets/icons/trash.svg"
        alt="delete"
        class="delete"
        (click)="removeItemFromArray()"
      />
    </div>

    <div class="notification_wrapper__main_message">
      <h5 [innerHTML]="notification.message"></h5>
    </div>
  </div>
</div>
