<div class="dashboard-wrapper m-0">
  <div class="container">
    <section class="dashboard-content mt-5">
      <section class="row my-5">
        <div class="col-md-6 col-lg-4">
          <!-- [dayCount]="'0 Today'" -->
          <app-card
            [name]="'Untreated Documents'"
            [count]="dashboardMetrics.untreatedFiles"
            img="assets/icons/blue.svg"
            [loading]="isFetchingDashboard"
            (click)="triggerClick('Untreated')"
          ></app-card>
        </div>

        <div class="col-md-6 col-lg-4">
          <!-- [dayCount]="'0 Today'" -->
          <app-card
            [name]="'Pending Documents'"
            [count]="dashboardMetrics.pendingFiles"
            img="assets/icons/amber.svg"
            [loading]="isFetchingDashboard"
            (click)="triggerClick('Pending')"
          ></app-card>
        </div>
        <div class="col-md-6 col-lg-4">
          <!-- [dayCount]="'0 Today'" -->
          <app-card
            [name]="'Treated Documents'"
            [count]="dashboardMetrics.treatedFiles"
            img="assets/icons/green.svg"
            [loading]="isFetchingDashboard"
            (click)="triggerClick('Treated')"
          ></app-card>
        </div>
      </section>
      <section class="my-5 quick">
        <div class="row">
          <div class="col-sm-3 col-md-2 col-lg-3">
            <div class="quick_upload">
              <img src="assets/icons/file.svg" alt="" />
              <div class="d-flex justify-content-center">
                <button
                  (click)="openUploadDialog()"
                  class="btn btn-purple btn-lg"
                >
                  Upload Document
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-9 col-md-10 col-lg-9">
            <div class="quick_track">
              <app-filetra-card
                ><div>
                  <div class="quick_track-head">
                    <h4>Track my Document</h4>
                  </div>
                  <div>
                    <label>Correspondence number</label>
                    <div class="search-wrapper">
                      <div class="search-wrapper-input me-4 form_group">
                        <span class="_icon">
                          <img src="assets/icons/search.svg" />
                        </span>
                        <input
                          #searchQuery
                          type="text"
                          class="form-control mt-0"
                          (keyup)="getSearchQuery(searchQuery.value, $event)"
                          placeholder="Enter correspondence number"
                        />
                        <span
                          class="_clear"
                          (click)="getSearchQuery('', { keyCode: '' }, true)"
                          *ngIf="searchQuery.value != ''"
                        >
                          <img src="assets/icons/x.svg" />
                        </span>
                      </div>

                      <div class="btn-wrapper me-3">
                        <button class="btn btn-purple btn-lg">
                          <span class="text-white me-2">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              xmlns:xlink="http://www.w3.org/1999/xlink"
                              aria-hidden="true"
                              role="img"
                              width="1.2em"
                              height="1.2em"
                              preserveAspectRatio="xMidYMid meet"
                              viewBox="0 0 24 24"
                            >
                              <g fill="none">
                                <path
                                  d="M21 21l-4.486-4.494M19 10.5a8.5 8.5 0 1 1-17 0a8.5 8.5 0 0 1 17 0z"
                                  stroke="currentColor"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                />
                              </g>
                            </svg>
                          </span>
                          <div class="text" (click)="trackPressed()">
                            Track Document
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </app-filetra-card>
            </div>
          </div>
        </div>
      </section>

      <ng-container>
        <app-filetra-card
          ><div>
            <app-table-header
              [btn_name]="'View All'"
              [table_name]="'Recent Documents'"
              (btnAction)="routeToDocuments()"
            ></app-table-header>
            <section class="table-responsive">
              <table class="table caption-top text-nowrap">
                <ng-container
                  *ngIf="
                    dashboardMetrics?.customerFileUploads?.data?.pagedResult
                      ?.totalItems > 0 || isFetchingDashboard
                  "
                >
                  <thead>
                    <tr>
                      <th>Refrence No.</th>
                      <th>Document Type</th>
                      <th>Subject</th>
                      <th>Date submitted</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                </ng-container>
                <tbody>
                  <ng-container *ngIf="isFetchingDashboard">
                    <tr *ngFor="let dummy of [1, 2, 3, 4, 5]">
                      <td *ngFor="let item of [1, 2, 3, 4, 5]">
                        <app-filetra-skeleton-loader
                          width="10rem"
                          height="2rem"
                        ></app-filetra-skeleton-loader>
                      </td></tr
                  ></ng-container>
                  <ng-container *ngIf="!isFetchingDashboard">
                    <tr
                      *ngFor="
                        let doc of dashboardMetrics?.customerFileUploads?.data
                          ?.pagedResult?.result
                      "
                    >
                      <td>{{ doc.correspondenceNo }}</td>
                      <td>{{ doc.documentType }} type</td>
                      <td>{{ doc.subject }}</td>
                      <td>{{ doc.createdAt | date }}</td>
                      <td>
                        <span
                          class="text-light-blue click"
                          routerLink="/documents/status/{{
                            doc.fileSubmissionId
                          }}"
                        >
                          <img src="assets/icons/eye.svg" class="me-2" />
                          View details
                        </span>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </section>
            <app-no-data
              name="Recent Document"
              [showActionButton]="false"
              [is_initial]="true"
              (open_dialog)="routeToDocuments()"
              [is_loading]="isFetchingDashboard"
              *ngIf="
                dashboardMetrics?.customerFileUploads?.data?.pagedResult
                  ?.totalItems == 0
              "
            ></app-no-data>
          </div>
        </app-filetra-card>
      </ng-container>
    </section>
  </div>
</div>
