//Ng select

// Custom Theming for Angular Material

// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$brooks-primary: mat.define-palette(mat.$indigo-palette);
$brooks-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$brooks-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$brooks-theme: mat.define-light-theme(
  (
    color: (
      primary: $brooks-primary,
      accent: $brooks-accent,
      warn: $brooks-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.

// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($brooks-theme);

/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "./partials/abstract/variables";
@import "./partials/base/typography";
@import "./partials/base/base";
@import "./partials/base/buttons";
@import "./partials/abstract/mixins";
@import "components/forms";

// scrollbar styles

/* width */
::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $white-100;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue-300;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $blue-300;
}

.brooks_snackbar_success {
  background: $white-100;
  box-shadow: 0rem 0.4rem 0.8rem rgba($blue-300, 0.15);
  border-radius: 0.8rem;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: $text-body;
  width: 57.2rem;
  padding: 1.6rem, 1.75rem;
}
.cdk-global-overlay-wrapper {
  background: rgba($black-100, 0.5);
}

.cdk-overlay-pane {
  max-width: 91vw !important;
  .mat-dialog-container {
    width: 85rem !important;
  }
}

.mat-dialog-title {
  color: $blue-300;
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-family: $walsheim_font_bold;
}

.mat-dialog-container {
  padding: 2.4rem 4rem 4rem 4rem !important;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $white-100;
}

.btn,
.form-control,
a,
span,
button {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
.form-control {
  height: 4.8rem;
  background: $blue-300;
  border-radius: 0.8rem;
  font-size: 1.5rem;
  color: $text-body;
  width: 100%;
  border: .1rem solid rgba(58, 58, 58, 0.3);
  padding: 1rem 1.5rem;
  &::placeholder {
    color: $text-body;
    font-size: 1.4rem;
  }
  &:focus {
    background: #fff;
  }
}
textarea.form-control {
  min-height: 4.8rem;
  height: auto;
  background-color: #fff;
  border: .1rem solid rgba(58, 58, 58, 0.3);
}

.form-group {
  margin-bottom: 3.2rem;
}

/* The check-container */
.check-container {
  display: block;
  position: relative;
  margin-bottom: 1.2rem;
  cursor: pointer;
  font-size: 2.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0.2rem;
    left: 0;
    height: 1.8rem;
    width: 1.8rem;
    background-color: $blue-300;
    box-shadow: inset 0rem 0rem 0.2rem $blue-300;
    border-radius: 0.4rem;
  }
  tr td .checkmark {
    top: 0;
    left: 1.6rem;
  }

  /* On mouse-over, add a blue background color */
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a colored background */
  input:checked ~ .checkmark {
    border: solid 0.6rem $blue-300;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  input:checked ~ .checkmark:after {
    display: block;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

table.table {
  caption {
    color: $blue-300;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  tbody {
    border-top: none !important;
    tr {
      border: 0.05rem solid $white-200;
      td {
        color: $text-body;
        font-size: 1.4rem;
        padding: 1.6rem;
        border: transparent;
        &:last-child {
          color: $blue-300;
        }
        .dot {
          width: 0.8rem;
          height: 0.8rem;
          border-radius: 50%;
          display: block;
          &-success {
            background-color: $success;
          }
          &-error {
            background-color: $error;
          }
        }
      }
    }
  }
  thead {
    background-color: $white-200;
    border-top: none !important;
    border-bottom: solid 0.1rem $white-200 !important;
    th {
      border-bottom: 0;
      font-weight: bold;
      font-size: 1.5rem;
      color: $text-body;
      padding: 1.4rem;
    }
  }
}
