@import "partials/abstract/variables";
@import "partials/abstract/mixins";
@import "partials/components/forms";
.search-wrapper {
  display: flex;
  &-input {
    position: relative;
    flex-grow: 3;
    ._icon {
      position: absolute;
      left: 1.5rem;
      top: 1.5rem;
    }
    ._clear {
      position: absolute;
      right: 1.5rem;
      top: 1.5rem;
      cursor: pointer;
      transition: all ease-out 0.2s;
      &:hover {
        transform: scale(1.2);
      }
    }
    .form-control {
      padding-left: 4.5rem;
    }
  }
  .btn-wrapper {
    img,
    svg {
      transition: all ease-in 0.2s;
    }
    .text {
      transition: all ease-out 0.3s;
      margin-left: 1rem;
    }
    .btn:hover {
      img,
      svg {
        visibility: hidden;
      }
      .text {
        margin-left: 0rem;
      }
    }
    @include maxSize(M) {
      margin-bottom: 1rem;
      .btn:hover {
        img,
        svg {
          visibility: visible;
        }
      }
      .text {
        display: none;
      }
    }
  }
  @include maxSize(M) {
    flex-wrap: wrap;
  }
}