<nav>
  <span>
    <embed src="assets/images/docstream_logo.svg" alt="docstream_logo" />
  </span>
  <span class="mx-3 line">|</span>
  <span>
    <img src="assets/images/fidelity.svg" alt="fidelity_logo" />
  </span>
</nav>
<div class="gif">
  <div class="wrapper">
    <img src="assets/gifs/Offline.gif" alt="" />
    <p>
      Oops...!!! It seems you are not connected to the internet. Please <br />
      check your connection and try again
    </p>
    <div class="d-flex justify-content-center" (click)="retry()">
      <button class="btn btn-green btn-lg">
        <div class="text">Retry</div>
      </button>
    </div>
  </div>
</div>
