@import "partials/abstract/variables";
@import "partials/abstract/mixins";
@import "partials/components/forms";

$side_padding: 12.4rem 20rem 12.4rem 12.2rem;
$mobile_side_padding: 3rem;

.wrapper {
  height: 100%;
  &__logo {
    margin-bottom: 5.6rem;
  }

  &__header {
    h1 {
      font-family: $walsheim_font_bold !important;
      font-size: 3.2rem;
      line-height: 4.8rem;
    }
    p {
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: $purple-700;
      margin-bottom: 5.6rem;
    }
  }
  .btn {
    width: 70%;
    background: $purple-700;
    box-shadow: 0rem 0.4rem 0.8rem -0.1rem rgba(0, 74, 77, 0.15);
    border-radius: 0.8rem;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    color: $white-100;
    padding: 1.35rem 0;
    transition: 0.6s all ease;
    &:hover {
      background: $purple-700;
    }
  }
}

@include maxSize($canvas: M) {
  .wrapper {
    padding: $mobile_side_padding;
  }
}
