<div class="d-flex justify-content-between" mat-dialog-title>
  <h2 mat-dialog-title>Upload Documents</h2>
  <div class="click" mat-dialog-close>
    <img src="assets/icons/x.svg" alt="" />
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="uploadForm" (submit)="uploadDocument()">
    <app-error [error_message]="error_message"></app-error>
    <div class="form-group form_group">
      <label>Document Type <span class="text-red">●</span></label>
      <div class="d-flex justify-content-end">
        <div
          class="p-0 m-0 click d-flex justify-content-end align-items-center"
          (click)="getDocumentTypes()"
          *ngIf="gettingDocTypesFailed"
        >
          Retry &nbsp;
          <mat-icon [ngClass]="{ spin: gettingDocTypes }">refresh</mat-icon>
        </div>
        <app-loader
          *ngIf="gettingDocTypes"
          class="ms-2"
          [loading]="gettingDocTypes"
          color="black"
          [width]="10"
        ></app-loader>
      </div>
      <select
        class="form-control"
        formControlName="DocumentType"
        autocomplete="DocumentType"
        [ngClass]="{
          'is-invalid':
            (uploadForm.get('DocumentType')?.errors &&
              uploadForm.get('DocumentType')?.touched) ||
            (uploadForm.get('DocumentType')?.hasError('required') &&
              uploadFormSubmitted) ||
            (uploadForm.get('DocumentType')?.hasError('DocumentType') &&
              uploadFormSubmitted)
        }"
      >
        <option value="">Document Type</option>
        <option value="{{ item.documentTypeId }}" *ngFor="let item of docTypes">
          {{ item.name }}
        </option>
      </select>
    </div>

    <div class="form-group form_group">
      <label>Select Receiving Office<span class="text-red">●</span></label>
      <div class="d-flex justify-content-end">
        <div
          class="p-0 m-0 click d-flex justify-content-end align-items-center"
          (click)="getReceivingDepts()"
          *ngIf="gettingDeptFailed"
        >
          Retry &nbsp;
          <mat-icon [ngClass]="{ spin: gettingDept }">refresh</mat-icon>
        </div>
        <app-loader
          *ngIf="gettingDept"
          class="ms-2"
          [loading]="gettingDept"
          color="black"
          [width]="10"
        ></app-loader>
      </div>
      <select
        class="form-control"
        formControlName="DocumentType"
        autocomplete="DocumentType"
        [ngClass]="{
          'is-invalid':
            (uploadForm.get('DocumentType')?.errors &&
              uploadForm.get('DocumentType')?.touched) ||
            (uploadForm.get('DocumentType')?.hasError('required') &&
              uploadFormSubmitted) ||
            (uploadForm.get('DocumentType')?.hasError('DocumentType') &&
              uploadFormSubmitted)
        }"
      >
        <option value="">Receiving Department</option>
        <option value="{{ item.departmentId }}" *ngFor="let item of receivingDepts">
          {{ item.departmentName }}
        </option>
      </select>
    </div>

    <div class="form-group form_group">
      <label>Subject Matter <span class="text-red">●</span></label>
      <input
        formControlName="SubjectMatter"
        autocomplete="SubjectMatter"
        [ngClass]="{
          'is-invalid':
            (uploadForm.get('SubjectMatter')?.errors &&
              uploadForm.get('SubjectMatter')?.touched) ||
            (uploadForm.get('SubjectMatter')?.hasError('required') &&
              uploadFormSubmitted) ||
            (uploadForm.get('SubjectMatter')?.hasError('SubjectMatter') &&
              uploadFormSubmitted)
        }"
        type="text"
        class="form-control"
        placeholder="Enter Subject Matter Here..."
      />
    </div>
    <div class="form-group form_group">
      <label>Upload Documents</label>
      <label
        class="upload-document-wrapper click py-5"
        for="file-1"
        (drop)="dropHandler($event)"
        (dragover)="dragOverHandler($event)"
      >
        <div
          class="d-flex align-items-center justify-content-center flex-column"
        >
          <p class="pt-3 font14 text-center">
            Drag and drop document(s) <br />
            <br />
            OR
          </p>
          <div class="btn btn-purple btn-lg">Browse documents</div>
        </div>
        <input
          type="file"
          name="file-1"
          id="file-1"
          hidden
          multiple
          (change)="onFileDropped($event)"
        />
      </label>
      <div class="row mt-4">
        <div class="col-12 col-lg-6 doc" *ngFor="let file of files; index as i">
          <app-uploaded-doc
            [file_name]="file.name"
            [type]="file.type"
            [file_size]="file.size"
            (remove)="removeFile(i)"
          ></app-uploaded-doc>
        </div>
      </div>
    </div>
    <mat-dialog-actions align="end">
      <button
        #close
        mat-button
        mat-dialog-close
        class="btn btn-outline-purple btn-md me-4"
      >
        Cancel
      </button>
      <button
        mat-button
        cdkFocusInitial
        type="submit"
        [disabled]="isLoading"
        class="btn btn-purple btn-md"
      >
        <app-loading-button
          [text]="'Upload'"
          [condition]="isLoading"
        ></app-loading-button>
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
