@import "partials/abstract/variables";

.upload-document-wrapper {
  position: relative;
  width: 100%;
  border: 0.1rem dashed rgba($color: $blue-700, $alpha: 0.5);
  border-radius: 0.8rem;
  background: $grey-300;
}
