<div class="wrapper">
  <div class="wrapper_top click">
    <img src="assets/icons/back.svg" alt="" (click)="back()" />
    <span class="px-3">Go Back</span>
  </div>
  <div class="wrapper_form-wrapper">
    <div class="wrapper_form-wrapper--header">
      <h2>LC Application</h2>
    </div>
    <div class="wrapper_form-wrapper--body">
      <div class="stepper-wrapper" *ngIf="currentStep != 5">
        <div
          (click)="step(1)"
          class="stepper-item"
          [ngClass]="{
            active: setIsCurrent(1),
            completed: setIsCompleted(1)
          }"
        >
          <div class="step-counter">1</div>
        </div>
        <div
          (click)="step(2)"
          class="stepper-item"
          [ngClass]="{
            active: setIsCurrent(2),
            completed: setIsCompleted(2)
          }"
        >
          <div class="step-counter">2</div>
        </div>
        <div
          (click)="step(3)"
          class="stepper-item"
          [ngClass]="{
            active: setIsCurrent(3),
            completed: setIsCompleted(3)
          }"
        >
          <div class="step-counter">3</div>
        </div>
        <div
          (click)="step(4)"
          class="stepper-item"
          [ngClass]="{
            active: setIsCurrent(4),
            completed: setIsCompleted(4)
          }"
        >
          <div class="step-counter">4</div>
        </div>
        <!-- <div class="stepper-item">
          <div class="step-counter">5</div>
        </div> -->
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
